In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("data/TuragOr.csv")

In [5]:
df

,Date,TempA,TempB,TempC,TempD,pHA,pHB,pHC,pHD,EC_A,...,DO_C,DO_D,BOD_A,BOD_B,BOD_C,BOD_D,TN_A,TN_B,TN_C,TN_D
0,15-Dec-21,21.5,21.2,21.3,21.4,7.73,8.12,7.91,8.48,1748,...,2.60,2.59,27.96,27.70,27.88,27.93,1.28,1.25,1.26,1.27
1,30-Dec-21,21.0,20.8,20.5,20.7,7.82,8.06,8.12,8.35,1832,...,2.77,2.71,27.59,27.21,26.48,27.00,1.06,1.10,1.08,1.11
2,15-Jan-22,20.5,20.2,20.3,20.2,7.95,8.04,8.29,8.40,2049,...,2.83,2.85,26.48,25.17,25.56,25.00,0.76,0.75,0.79,0.77
3,30-Jan-22,20.3,20.0,20.1,19.9,8.17,8.11,8.22,8.43,2105,...,2.86,2.89,25.55,23.86,24.10,24.79,0.95,0.93,0.94,0.94
4,15-Feb-22,21.0,20.6,21.1,20.9,8.26,8.17,8.25,8.49,1855,...,2.63,2.68,27.59,27.14,27.61,27.74,1.05,1.00,1.09,1.10
5,28-Feb-22,21.8,22.0,21.7,21.5,8.49,8.33,8.32,8.56,1809,...,2.53,2.54,28.13,28.49,28.00,28.09,1.29,1.35,1.22,1.25
6,15-Mar-22,24.9,24.6,24.8,24.7,8.02,7.98,8.10,8.17,1796,...,2.03,2.03,31.52,30.00,30.25,30.14,1.95,1.72,1.70,1.63
7,30-Mar-22,26.8,26.9,27.0,26.9,7.32,7.65,7.68,7.83,1813,...,1.65,1.70,32.40,32.53,32.79,32.54,2.05,1.98,2.11,2.03
8,15-Apr-22,29.1,28.9,29.3,29.7,6.83,6.91,7.12,7.35,1914,...,0.66,0.71,38.17,38.00,38.55,38.29,2.87,2.78,2.85,2.80
9,30-Apr-22,31.7,31.5,31.2,31.3,6.22,6.35,6.37,6.29,1928,...,0.11,0.13,41.53,41.24,40.83,40.55,3.23,3.21,3.14,3.10
10,15-May-22,33.1,32.7,32.9,32.8,6.30,6.42,6.25,6.18,1609,...,0.02,0.03,43.52,43.11,43.00,42.91,3.70,3.65,3.60,3.42
11,30-May-22,32.6,32.2,32.3,32.1,6.41,6.52,6.16,6.11,1554,...,0.05,0.06,42.87,42.14,42.71,42.14,3.35,3.30,3.29,3.27
12,15-Jun-22,30.4,30.5,30.3,30.1,6.56,6.47,6.33,6.19,1329,...,0.38,0.43,39.30,39.47,39.24,39.00,3.05,2.98,2.95,2.90
13,30-Jun-22,28.7,28.9,28.4,28.1,6.98,7.05,6.88,6.76,1257,...,0.95,1.00,38.12,37.65,37.38,36.51,2.65,2.61,2.60,2.55
14,15-Jul-22,28.3,28.1,27.9,27.9,7.11,7.15,7.20,7.14,1157,...,1.02,1.03,35.70,37.35,36.50,35.74,2.47,2.36,2.29,2.17
15,30-Jul-22,27.5,27.8,27.2,27.1,7.23,7.22,7.30,7.26,1122,...,1.36,1.44,34.23,35.79,33.10,32.97,2.15,2.14,2.11,2.20
16,15-Aug-22,26.8,27.0,26.4,26.2,7.15,7.19,7.22,7.10,1052,...,1.91,1.94,32.40,32.75,32.15,32.10,2.11,2.14,2.06,2.09
17,30-Aug-22,26.3,26.5,26.2,26.1,7.12,7.13,7.29,7.14,1033,...,1.94,1.95,32.11,32.31,32.19,32.07,1.97,1.89,2.01,1.98
18,15-Sep-22,24.9,24.8,25.3,25.0,7.29,7.38,7.32,7.25,951,...,1.97,1.98,31.52,31.69,32.00,31.86,1.87,1.89,2.01,1.98
19,30-Sep-22,24.2,24.3,24.7,24.5,7.45,7.69,7.36,7.39,958,...,2.03,2.05,29.75,29.96,30.27,30.10,1.55,1.59,1.68,1.88
20,15-Oct-22,23.7,23.2,23.5,23.1,7.51,7.88,7.49,7.51,1128,...,2.15,2.19,29.63,29.52,29.61,29.50,1.62,1.59,1.55,1.49
21,30-Oct-22,23.1,22.8,23.0,22.6,7.59,7.92,7.63,7.55,1369,...,2.24,2.30,29.50,29.07,29.10,29.00,1.28,1.21,1.23,1.15
22,15-Nov-22,22.6,22.1,22.4,22.0,7.60,7.93,7.65,7.56,1512,...,2.33,2.41,29.18,28.76,28.95,28.33,1.18,1.23,1.34,1.27
23,30-Nov-22,22.0,21.7,21.9,21.8,7.69,7.95,7.68,8.11,1627,...,2.49,2.50,28.30,28.00,28.17,28.14,1.27,1.26,1.17,1.29

In [9]:
df.columns

Index(['Date', 'TempA', 'TempB', 'TempC', 'TempD', 'pHA', 'pHB', 'pHC', 'pHD',
       'EC_A', 'EC_B', 'EC_C', 'EC_D', 'DO_A', 'DO_B', 'DO_C', 'DO_D', 'BOD_A',
       'BOD_B', 'BOD_C', 'BOD_D', 'TN_A', 'TN_B', 'TN_C', 'TN_D'],
      dtype='object')

In [6]:
df.describe()

,TempA,TempB,TempC,TempD,pHA,pHB,pHC,pHD,EC_A,EC_B,...,DO_C,DO_D,BOD_A,BOD_B,BOD_C,BOD_D,TN_A,TN_B,TN_C,TN_D
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,25.533333,25.387500,25.404167,25.275000,7.366667,7.484167,7.422500,7.483333,1521.125000,1544.166667,...,1.729583,1.755833,32.627083,32.454583,32.350833,32.185000,1.946250,1.912917,1.919583,1.901667
std,3.977946,4.034128,3.945220,3.980523,0.615126,0.625536,0.662251,0.790353,369.459689,326.482128,...,0.933849,0.929212,5.362345,5.572027,5.468787,5.295447,0.840175,0.821200,0.807468,0.778609
min,20.300000,20.000000,20.100000,19.900000,6.220000,6.350000,6.160000,6.110000,951.000000,952.000000,...,0.020000,0.030000,25.550000,23.860000,24.100000,24.790000,0.760000,0.750000,0.790000,0.770000
25%,21.950000,21.925000,21.850000,21.725000,7.077500,7.110000,7.180000,7.130000,1149.750000,1313.000000,...,1.002500,1.022500,28.257500,28.367500,28.127500,28.127500,1.277500,1.245000,1.227500,1.265000
50%,24.900000,24.700000,25.050000,24.850000,7.385000,7.670000,7.425000,7.450000,1581.500000,1628.000000,...,2.000000,2.005000,31.520000,30.845000,31.135000,31.000000,1.910000,1.805000,1.855000,1.930000
75%,28.400000,28.300000,28.025000,27.950000,7.752500,7.995000,7.957500,8.215000,1817.750000,1755.750000,...,2.500000,2.510000,36.305000,37.425000,36.720000,35.932500,2.515000,2.422500,2.367500,2.287500
max,33.100000,32.700000,32.900000,32.800000,8.490000,8.330000,8.320000,8.560000,2105.000000,2168.000000,...,2.860000,2.890000,43.520000,43.110000,43.000000,42.910000,3.700000,3.650000,3.600000,3.420000

In [21]:
temp = df[["TempA", "TempB", "TempC", "TempD"]]
pH   = df[["pHA", "pHB", "pHC", "pHD"]]
ec   = df[["EC_A", "EC_B", "EC_C", "EC_D"]]
do   = df[["DO_A", "DO_B", "DO_C", "DO_D"]]
bod  = df[["BOD_A", "BOD_B", "BOD_C", "BOD_D"]]
tn = df[["TN_A", "TN_B", "TN_C", "TN_D"]]

In [22]:
temp.head()

   TempA  TempB  TempC  TempD
0   21.5   21.2   21.3   21.4
1   21.0   20.8   20.5   20.7
2   20.5   20.2   20.3   20.2
3   20.3   20.0   20.1   19.9
4   21.0   20.6   21.1   20.9

In [23]:
temp.describe()

           TempA      TempB      TempC      TempD
count  24.000000  24.000000  24.000000  24.000000
mean   25.533333  25.387500  25.404167  25.275000
std     3.977946   4.034128   3.945220   3.980523
min    20.300000  20.000000  20.100000  19.900000
25%    21.950000  21.925000  21.850000  21.725000
50%    24.900000  24.700000  25.050000  24.850000
75%    28.400000  28.300000  28.025000  27.950000
max    33.100000  32.700000  32.900000  32.800000

In [20]:
#temp.loc[20:21] = [[2, 3, 4,5],[5,4,3,2]]  
#temp.index = temp.index + 1  
#temp = temp.sort_index()  
#temp

In [28]:
temp

    TempA  TempB  TempC  TempD
0    21.5   21.2   21.3   21.4
1    21.0   20.8   20.5   20.7
2    20.5   20.2   20.3   20.2
3    20.3   20.0   20.1   19.9
4    21.0   20.6   21.1   20.9
5    21.8   22.0   21.7   21.5
6    24.9   24.6   24.8   24.7
7    26.8   26.9   27.0   26.9
8    29.1   28.9   29.3   29.7
9    31.7   31.5   31.2   31.3
10   33.1   32.7   32.9   32.8
11   32.6   32.2   32.3   32.1
12   30.4   30.5   30.3   30.1
13   28.7   28.9   28.4   28.1
14   28.3   28.1   27.9   27.9
15   27.5   27.8   27.2   27.1
16   26.8   27.0   26.4   26.2
17   26.3   26.5   26.2   26.1
18   24.9   24.8   25.3   25.0
19   24.2   24.3   24.7   24.5
20   23.7   23.2   23.5   23.1
21   23.1   22.8   23.0   22.6
22   22.6   22.1   22.4   22.0
23   22.0   21.7   21.9   21.8

In [27]:
np.random.uniform(21, 21.5, 2)

array([21.06186347, 21.38533254])

In [36]:
tempa_mat = []

i=0
while i < len(temp["TempA"]) - 1:
    if temp["TempA"][i] < temp["TempA"][i+1]:
        val = np.random.uniform(temp["TempA"][i+1], temp["TempA"][i], 14)
        tempa_mat.append(val)
    
    val = np.random.uniform(temp["TempA"][i], temp["TempA"][i+1], 14)
    tempa_mat.append(val)
    
    i+=1

In [43]:
tempa_mat[0].min(),tempa_mat[0].max()

(21.009499493748915, 21.439475752206782)

In [42]:
tempa_mat[2].min(),tempa_mat[2].max()

(20.311808659729866, 20.47566077494298)

In [44]:
df.columns

Index(['Date', 'TempA', 'TempB', 'TempC', 'TempD', 'pHA', 'pHB', 'pHC', 'pHD',
       'EC_A', 'EC_B', 'EC_C', 'EC_D', 'DO_A', 'DO_B', 'DO_C', 'DO_D', 'BOD_A',
       'BOD_B', 'BOD_C', 'BOD_D', 'TN_A', 'TN_B', 'TN_C', 'TN_D'],
      dtype='object')

In [88]:
def data_gen(df):
    paramA = ["TempA", "pHA", "EC_A", "DO_A", "BOD_A", "TN_A"]
    paramB = ["TempB", "pHB", "EC_B", "DO_B", "BOD_B", "TN_B"]
    paramC = ["TempC", "pHC", "EC_C", "DO_C", "BOD_C", "TN_C"]
    paramD = ["TempD", "pHD", "EC_D", "DO_D", "BOD_D", "TN_D"]
    

    
    tempA_mat,tempB_mat,tempC_mat,tempD_mat,pHA_mat,pHB_mat,pHC_mat,pHD_mat,ECA_mat,ECB_mat,ECC_mat,ECD_mat,DOA_mat,DOB_mat,DOC_mat,DOD_mat,BODA_mat,BODB_mat,BODC_mat,BODD_mat,TNA_mat, TNB_mat, TNC_mat, TND_mat = val_append(df, paramA, paramB, paramC, paramD, i )
    
    return tempA_mat,tempB_mat,tempC_mat,tempD_mat,pHA_mat,pHB_mat,pHC_mat,pHD_mat,ECA_mat,ECB_mat,ECC_mat,ECD_mat,DOA_mat,DOB_mat,DOC_mat,DOD_mat,BODA_mat,BODB_mat,BODC_mat,BODD_mat,TNA_mat, TNB_mat, TNC_mat, TND_mat

        

        
        
def val_append(df, paramA, paramB, paramC, paramD, i):
    
    
    tempA_mat = []
    tempB_mat = []
    tempC_mat = []
    tempD_mat = []

    pHA_mat = []
    pHB_mat = []
    pHC_mat = []
    pHD_mat = []
    
    ECA_mat = []
    ECB_mat = []
    ECC_mat = []
    ECD_mat = []
    
    DOA_mat = []
    DOB_mat = []
    DOC_mat = []
    DOD_mat = []

    BODA_mat = []
    BODB_mat = []
    BODC_mat = []
    BODD_mat = []
    
    TNA_mat = []
    TNB_mat = []
    TNC_mat = []
    TND_mat = []

    
    i = 0
    while i < len(temp["TempA"]) - 1:
    
    #temp
    
        if df[paramA[0]][i] < df[paramA[0]][i+1]:
                val = np.random.uniform(df[paramA[0]][i+1], df[paramA[0]][i], 14)
                tempA_mat.append(val)
        else:
            val = np.random.uniform(df[paramA[0]][i], df[paramA[0]][i+1], 14)
            tempA_mat.append(val)

        if df[paramB[0]][i] < df[paramB[0]][i+1]:
                val = np.random.uniform(df[paramB[0]][i+1], df[paramB[0]][i], 14)
                tempB_mat.append(val)
        else:
            val = np.random.uniform(df[paramB[0]][i], df[paramB[0]][i+1], 14)
            tempB_mat.append(val)

        if df[paramC[0]][i] < df[paramC[0]][i+1]:
                val = np.random.uniform(df[paramC[0]][i+1], df[paramC[0]][i], 14)
                tempC_mat.append(val)
        else:
            val = np.random.uniform(df[paramC[0]][i], df[paramC[0]][i+1], 14)
            tempC_mat.append(val)

        if df[paramD[0]][i] < df[paramD[0]][i+1]:
                val = np.random.uniform(df[paramD[0]][i+1], df[paramD[0]][i], 14)
                tempD_mat.append(val)
        else:
            val = np.random.uniform(df[paramD[0]][i], df[paramD[0]][i+1], 14)
            tempD_mat.append(val)


        #pH

        if df[paramA[1]][i] < df[paramA[1]][i+1]:
                val = np.random.uniform(df[paramA[1]][i+1], df[paramA[1]][i], 14)
                pHA_mat.append(val)
        else:
            val = np.random.uniform(df[paramA[1]][i], df[paramA[1]][i+1], 14)
            pHA_mat.append(val)

        if df[paramB[1]][i] < df[paramB[1]][i+1]:
                val = np.random.uniform(df[paramB[1]][i+1], df[paramB[1]][i], 14)
                pHB_mat.append(val)
        else:
            val = np.random.uniform(df[paramB[1]][i], df[paramB[1]][i+1], 14)
            pHB_mat.append(val)

        if df[paramC[1]][i] < df[paramC[1]][i+1]:
                val = np.random.uniform(df[paramC[1]][i+1], df[paramC[1]][i], 14)
                pHC_mat.append(val)
        else:
            val = np.random.uniform(df[paramC[1]][i], df[paramC[1]][i+1], 14)
            pHC_mat.append(val)

        if df[paramD[1]][i] < df[paramD[1]][i+1]:
                val = np.random.uniform(df[paramD[1]][i+1], df[paramD[1]][i], 14)
                pHD_mat.append(val)
        else:
            val = np.random.uniform(df[paramD[1]][i], df[paramD[1]][i+1], 14)
            pHD_mat.append(val)

        #EC

        if df[paramA[2]][i] < df[paramA[2]][i+1]:
                val = np.random.uniform(df[paramA[2]][i+1], df[paramA[2]][i], 14)
                ECA_mat.append(val)
        else:
            val = np.random.uniform(df[paramA[2]][i], df[paramA[2]][i+1], 14)
            ECA_mat.append(val)

        if df[paramB[2]][i] < df[paramB[2]][i+1]:
                val = np.random.uniform(df[paramB[2]][i+1], df[paramB[2]][i], 14)
                ECB_mat.append(val)
        else:
            val = np.random.uniform(df[paramB[2]][i], df[paramB[2]][i+1], 14)
            ECB_mat.append(val)

        if df[paramC[2]][i] < df[paramC[2]][i+1]:
                val = np.random.uniform(df[paramC[2]][i+1], df[paramC[2]][i], 14)
                ECC_mat.append(val)
        else:
            val = np.random.uniform(df[paramC[2]][i], df[paramC[2]][i+1], 14)
            ECC_mat.append(val)

        if df[paramD[2]][i] < df[paramD[2]][i+1]:
                val = np.random.uniform(df[paramD[2]][i+1], df[paramD[2]][i], 14)
                ECD_mat.append(val)
        else:
            val = np.random.uniform(df[paramD[2]][i], df[paramD[2]][i+1], 14)
            ECD_mat.append(val)


        #DO

        if df[paramA[3]][i] < df[paramA[3]][i+1]:
                val = np.random.uniform(df[paramA[3]][i+1], df[paramA[3]][i], 14)
                DOA_mat.append(val)
        else:
            val = np.random.uniform(df[paramA[3]][i], df[paramA[3]][i+1], 14)
            DOA_mat.append(val)

        if df[paramB[3]][i] < df[paramB[3]][i+1]:
                val = np.random.uniform(df[paramB[3]][i+1], df[paramB[3]][i], 14)
                DOB_mat.append(val)
        else:
            val = np.random.uniform(df[paramB[3]][i], df[paramB[3]][i+1], 14)
            DOB_mat.append(val)

        if df[paramC[3]][i] < df[paramC[3]][i+1]:
                val = np.random.uniform(df[paramC[3]][i+1], df[paramC[3]][i], 14)
                DOC_mat.append(val)
        else:
            val = np.random.uniform(df[paramC[3]][i], df[paramC[3]][i+1], 14)
            DOC_mat.append(val)

        if df[paramD[3]][i] < df[paramD[3]][i+1]:
                val = np.random.uniform(df[paramD[3]][i+1], df[paramD[3]][i], 14)
                DOD_mat.append(val)
        else:
            val = np.random.uniform(df[paramD[3]][i], df[paramD[3]][i+1], 14)
            DOD_mat.append(val)



        #BOD

        if df[paramA[4]][i] < df[paramA[4]][i+1]:
                val = np.random.uniform(df[paramA[4]][i+1], df[paramA[4]][i], 14)
                BODA_mat.append(val)
        else:
            val = np.random.uniform(df[paramA[4]][i], df[paramA[4]][i+1], 14)
            BODA_mat.append(val)

        if df[paramB[4]][i] < df[paramB[4]][i+1]:
                val = np.random.uniform(df[paramB[4]][i+1], df[paramB[4]][i], 14)
                BODB_mat.append(val)
        else:
            val = np.random.uniform(df[paramB[4]][i], df[paramB[4]][i+1], 14)
            BODB_mat.append(val)

        if df[paramC[4]][i] < df[paramC[4]][i+1]:
                val = np.random.uniform(df[paramC[4]][i+1], df[paramC[4]][i], 14)
                BODC_mat.append(val)
        else:
            val = np.random.uniform(df[paramC[4]][i], df[paramC[4]][i+1], 14)
            BODC_mat.append(val)

        if df[paramD[4]][i] < df[paramD[4]][i+1]:
                val = np.random.uniform(df[paramD[4]][i+1], df[paramD[4]][i], 14)
                BODD_mat.append(val)
        else:
            val = np.random.uniform(df[paramD[4]][i], df[paramD[4]][i+1], 14)
            BODD_mat.append(val)


        #TN

        if df[paramA[5]][i] < df[paramA[5]][i+1]:
                val = np.random.uniform(df[paramA[5]][i+1], df[paramA[5]][i], 14)
                TNA_mat.append(val)
        else:
            val = np.random.uniform(df[paramA[5]][i], df[paramA[5]][i+1], 14)
            TNA_mat.append(val)

        if df[paramB[5]][i] < df[paramB[5]][i+1]:
                val = np.random.uniform(df[paramB[5]][i+1], df[paramB[5]][i], 14)
                TNB_mat.append(val)
        else:
            val = np.random.uniform(df[paramB[5]][i], df[paramB[5]][i+1], 14)
            TNB_mat.append(val)

        if df[paramC[5]][i] < df[paramC[5]][i+1]:
                val = np.random.uniform(df[paramC[5]][i+1], df[paramC[5]][i], 14)
                TNC_mat.append(val)
        else:
            val = np.random.uniform(df[paramC[5]][i], df[paramC[5]][i+1], 14)
            TNC_mat.append(val)

        if df[paramD[5]][i] < df[paramD[5]][i+1]:
                val = np.random.uniform(df[paramD[5]][i+1], df[paramD[5]][i], 14)
                TND_mat.append(val)
        else:
            val = np.random.uniform(df[paramD[5]][i], df[paramD[5]][i+1], 14)
            TND_mat.append(val)

        i+=1
    
    return tempA_mat,tempB_mat,tempC_mat,tempD_mat,pHA_mat,pHB_mat,pHC_mat,pHD_mat,ECA_mat,ECB_mat,ECC_mat,ECD_mat,DOA_mat,DOB_mat,DOC_mat,DOD_mat,BODA_mat,BODB_mat,BODC_mat,BODD_mat,TNA_mat, TNB_mat, TNC_mat, TND_mat

In [89]:
tempA_mat,tempB_mat,tempC_mat,tempD_mat,pHA_mat,pHB_mat,pHC_mat,pHD_mat,ECA_mat,ECB_mat,ECC_mat,ECD_mat,DOA_mat,DOB_mat,DOC_mat,DOD_mat,BODA_mat,BODB_mat,BODC_mat,BODD_mat,TNA_mat, TNB_mat, TNC_mat, TND_mat = data_gen(df)

In [94]:
tempA_list = []
tempB_list = []
tempC_list = []
tempD_list = []

pHA_list = []
pHB_list = []
pHC_list = []
pHD_list = []

ECA_list = []
ECB_list = []
ECC_list = []
ECD_list = []

DOA_list = []
DOB_list = []
DOC_list = []
DOD_list = []

BODA_list = []
BODB_list = []
BODC_list = []
BODD_list = []

TNA_list = []
TNB_list = []
TNC_list = []
TND_list = []


i=0
while i< len(tempA_mat):
    tempA_list.append(tempA_mat[i].tolist())
    tempB_list.append(tempB_mat[i].tolist())
    tempC_list.append(tempC_mat[i].tolist())
    tempD_list.append(tempD_mat[i].tolist())
    
    pHA_list.append(pHA_mat[i].tolist())
    pHB_list.append(pHB_mat[i].tolist())
    pHC_list.append(pHC_mat[i].tolist())
    pHD_list.append(pHD_mat[i].tolist())
    
    ECA_list.append(ECA_mat[i].tolist())
    ECB_list.append(ECB_mat[i].tolist())
    ECC_list.append(ECC_mat[i].tolist())
    ECD_list.append(ECD_mat[i].tolist())
    
    DOA_list.append(DOA_mat[i].tolist())
    DOB_list.append(DOB_mat[i].tolist())
    DOC_list.append(DOC_mat[i].tolist())
    DOD_list.append(DOD_mat[i].tolist())
    
    BODA_list.append(BODA_mat[i].tolist())
    BODB_list.append(BODB_mat[i].tolist())
    BODC_list.append(BODC_mat[i].tolist())
    BODD_list.append(BODD_mat[i].tolist())
    
    TNA_list.append(TNA_mat[i].tolist())
    TNB_list.append(TNB_mat[i].tolist())
    TNC_list.append(TNC_mat[i].tolist())
    TND_list.append(TND_mat[i].tolist())
    
    
    i += 1

tempA_list

[[21.103740191148642,
  21.480670092443294,
  21.37273095929327,
  21.021731374972354,
  21.12896289565602,
  21.249506972538143,
  21.240543323844793,
  21.092290605888614,
  21.121369354181375,
  21.169143866045733,
  21.380599674532,
  21.167435622723126,
  21.26136283379812,
  21.339276299333477],
 [20.614360956190907,
  20.82304859568581,
  20.50515094110765,
  20.801076577349416,
  20.95055037319817,
  20.745267547059704,
  20.61985438773245,
  20.720109331204647,
  20.52675959767934,
  20.54891723720468,
  20.96059079355455,
  20.591688270176284,
  20.506857460437992,
  20.803909812358626],
 [20.446315369267996,
  20.4105802862997,
  20.461233952467563,
  20.453901571539713,
  20.377103761302692,
  20.341639173625346,
  20.373580074600607,
  20.45210969472004,
  20.47767492376307,
  20.37120033079956,
  20.35265866751262,
  20.45547848643716,
  20.499973665028783,
  20.415006807946003],
 [20.48990652869293,
  20.506001462238668,
  20.735612048059934,
  20.625941796109693,
  20.670084279617377,
  20.715256936216438,
  20.680963447971862,
  20.481244990120167,
  20.96972239656156,
  20.715269377964468,
  20.51296076074735,
  20.553007449895514,
  20.618524966874524,
  20.52408749798581],
 [21.716666963781517,
  21.252136074780264,
  21.279284258781335,
  21.30703981776102,
  21.77727927835698,
  21.088836047363973,
  21.157599409513676,
  21.40495039751949,
  21.010742619167626,
  21.087624419901324,
  21.53568658590534,
  21.492408456843698,
  21.246770919990105,
  21.690864407924227],
 [22.766152901059456,
  24.034000035113166,
  22.9838984500237,
  22.820249536936725,
  22.673092508305437,
  23.81196448497672,
  22.728004030479337,
  23.780226681668292,
  23.79160395817336,
  22.510972929768148,
  23.58007520823787,
  22.314751549702706,
  23.270626750076588,
  24.369018174328613],
 [25.704793363690797,
  25.478327423374015,
  25.734325183556244,
  26.09007258529685,
  25.31326645492947,
  25.2096972203457,
  26.103529699222257,
  26.493156777829245,
  25.708913814158368,
  26.1307365231757,
  25.246460150858223,
  25.43472886604872,
  25.987330488462817,
  24.938069385214394],
 [27.244996854258932,
  28.262830035204313,
  28.703718044507745,
  27.618917047714067,
  26.804110497212438,
  27.917722491490153,
  27.535570034830535,
  28.176361857238263,
  28.65378093559139,
  28.51760023234778,
  28.740051876390982,
  28.555550676915253,
  28.16149026837969,
  26.83378036780537],
 [30.56366234025881,
  31.131474124324956,
  31.418790037399827,
  29.374091905878963,
  30.947259697443982,
  30.765683633896437,
  30.87500251727955,
  31.409227595976766,
  29.960656372511774,
  30.01197136027872,
  31.07989134647188,
  29.100427856797484,
  30.066176212291012,
  31.372001780925206],
 [33.01065164498258,
  32.31070236609551,
  32.423701468265115,
  32.663956007021646,
  32.69212231380426,
  32.86085449468926,
  32.79127097761629,
  32.64920482320338,
  31.87675128583197,
  31.84370408424642,
  32.08850188856831,
  32.12689082961063,
  32.14995349897845,
  33.000430351570095],
 [32.76941374156752,
  33.04451982382839,
  33.05155998129468,
  33.07079620636361,
  32.746174245405136,
  32.76257975023293,
  32.78465433326158,
  33.04096734198821,
  32.695394361803395,
  32.606036372038155,
  32.625556135780734,
  32.80295216457078,
  32.86470712704382,
  32.85769089856298],
 [31.443195442641027,
  31.720047863262657,
  30.730675491811624,
  32.54925572948137,
  31.745204916744665,
  30.52204007632082,
  30.662853376380298,
  31.01156825844469,
  31.234228142390243,
  31.672195351161946,
  31.54061396593839,
  32.56740306149688,
  31.895031691201577,
  31.793649801193666],
 [29.904543624090778,
  29.733113656505047,
  29.56562079586386,
  29.705330584061066,
  29.74641544988198,
  29.286843267524826,
  30.252725122011235,
  30.038558790324238,
  29.18081874531897,
  29.80889152456392,
  29.31172839210112,
  29.35876692151777,
  29.431496414389812,
  29.77562324724689],
 [28.377365625974296,
  28.326253100264186,
  28.42691911638724,
  28.58175560045832,
  28.590638102974637,
  28.359920529826425,
  28.676992571891148,
  28.431478084140053,
  28.669452770144858,
  28.510227494072435,
  28.312479445572695,
  28.543812012227516,
  28.352361377540333,
  28.56123856227782],
 [27.765691355328364,
  27.887815100629492,
  27.833274401608076,
  28.06581653135575,
  27.78848229313114,
  28.020214238929103,
  27.51741160435717,
  28.049110406902148,
  27.957530270933685,
  28.196780314181705,
  28.24763994150417,
  28.093628444273897,
  27.584676229117626,
  27.99819560774317],
 [26.891926794928573,
  26.997117180795904,
  27.23943627585549,
  27.18451409291636,
  26.889495249473093,
  27.11793639665394,
  26.91437978975331,
  26.904381094302163,
  26.80452052283483,
  27.419635549043825,
  26.82200410801502,
  27.22578806904297,
  27.01867398193262,
  27.391586851226414],
 [26.629998494945887,
  26.475682761539712,
  26.706887290200655,
  26.317689745893045,
  26.67703062170456,
  26.390317682677384,
  26.553274995160283,
  26.440038884820076,
  26.74218460126816,
  26.575145490188817,
  26.71077321057407,
  26.474549702894524,
  26.394312870341857,
  26.355884238046887],
 [25.22827745415926,
  24.96601319093356,
  25.64659004860422,
  25.92845200213247,
  25.01655464619262,
  24.903447138378443,
  25.157821238727113,
  25.061357143796794,
  25.832797648308812,
  25.75991970640264,
  24.96718290811541,
  24.932438617975727,
  25.420542028656172,
  25.195945784783362],
 [24.628872406717864,
  24.881276889503617,
  24.529754512183654,
  24.491788326101116,
  24.702691752200778,
  24.75603943821473,
  24.239058301676664,
  24.518702867794595,
  24.55084056824168,
  24.77293425561598,
  24.628119556280126,
  24.507198935689026,
  24.46120774116244,
  24.252564306648733],
 [24.078411668784053,
  23.757445885540093,
  23.741987054022772,
  23.9947976677167,
  23.952048188413954,
  24.044210835482918,
  24.061515041251003,
  24.000626765926167,
  23.985490981745745,
  23.758726768944655,
  23.836934841772045,
  23.76426455471625,
  23.73597280640591,
  23.894993371891825],
 [23.688235570960394,
  23.46547776161791,
  23.174396240037904,
  23.416546760996532,
  23.467841226087007,
  23.58698371031546,
  23.376288478452757,
  23.622239636336214,
  23.626939510984226,
  23.119382612503607,
  23.22117961823761,
  23.206554922760194,
  23.594832523633336,
  23.367479041299262],
 [22.792183806357105,
  22.731352045382607,
  22.69649777465497,
  22.88781607801478,
  22.935302666097325,
  22.956285019094647,
  22.77184200995056,
  23.067304072163303,
  22.940081167347465,
  22.887265599684955,
  22.86986932824446,
  22.842433792621662,
  22.650103504550415,
  23.088779875012985],
 [22.551697123451184,
  22.120462700772936,
  22.082392986046486,
  22.459750173416825,
  22.239153308738718,
  22.430148424399242,
  22.414656404973513,
  22.044892191697745,
  22.39518701598892,
  22.30151248303347,
  22.158174266834106,
  22.183021508947192,
  22.372325763450842,
  22.129135223464917]]

In [95]:
pHA_list

[[7.7865800365662245,
  7.809348937909556,
  7.730983849743678,
  7.800544781804601,
  7.802051475808185,
  7.808856724235285,
  7.773680823479048,
  7.751220067744771,
  7.788223028717386,
  7.766886133064221,
  7.745280853741435,
  7.754658839206044,
  7.8044509671055735,
  7.796915794965794],
 [7.93952561125373,
  7.854910424686321,
  7.923830137053867,
  7.848442345294271,
  7.899862164291461,
  7.887690889740536,
  7.862283254913357,
  7.925549683401539,
  7.90736034130025,
  7.851202393092279,
  7.848009534443036,
  7.897324686064535,
  7.832536428451286,
  7.944448705322585],
 [8.06263163023295,
  8.141904879689454,
  7.9763219532446525,
  8.123874541890471,
  8.006165818000904,
  8.094797127553747,
  8.109489776970982,
  8.076506507179424,
  8.025866344338828,
  7.982326891755643,
  8.154326171918047,
  8.053762215568236,
  7.982279160738269,
  8.163875434382735],
 [8.173494461713629,
  8.186554840421458,
  8.184387205885645,
  8.240218811677536,
  8.219723018852156,
  8.191021718364375,
  8.170103417054982,
  8.243669566984197,
  8.253150851639502,
  8.24741764834131,
  8.207590284619624,
  8.192588315900725,
  8.198713596995992,
  8.184042178962047],
 [8.28818631870109,
  8.461178704577318,
  8.413503935163702,
  8.3787931466407,
  8.417462360519957,
  8.452919668722895,
  8.322787374280836,
  8.266340142373362,
  8.457142078607797,
  8.386681049691138,
  8.408965786229395,
  8.399004139067413,
  8.375422668585795,
  8.337831802819995],
 [8.276923577472825,
  8.329208988577818,
  8.415481392586189,
  8.377619350523357,
  8.115390245735675,
  8.10057537406928,
  8.17099440557508,
  8.046220574891562,
  8.37857951908164,
  8.226643065607059,
  8.042637599867216,
  8.408396058385737,
  8.356236934403627,
  8.21234834042574],
 [7.95692539116378,
  7.8456887422682025,
  7.559126533794405,
  7.49602558732074,
  7.735791088261619,
  7.585806573033496,
  7.349906092669569,
  7.599957014158558,
  7.349480095956078,
  7.456423337733591,
  7.7506443183111715,
  7.486993570361547,
  7.805698990918347,
  7.563593010785354],
 [6.908499994814852,
  7.002089732326447,
  7.010092912938666,
  6.866535494162929,
  7.245947113309478,
  6.885959531932255,
  7.263010098677121,
  7.048935149973471,
  6.985545876788989,
  7.272189726073579,
  6.8371731590517015,
  7.302759265032856,
  7.110066829776715,
  7.289689971118263],
 [6.506986671578761,
  6.734946814282389,
  6.747178390604548,
  6.3537195442327015,
  6.490590950368648,
  6.778030411476418,
  6.278494029771821,
  6.829627576929038,
  6.529453314895499,
  6.396930847056199,
  6.62174567250383,
  6.728889346512267,
  6.476149352557477,
  6.258160257786983],
 [6.241610326206567,
  6.246202376269489,
  6.241220456251322,
  6.237122879205628,
  6.236513101410508,
  6.25368986277771,
  6.256274166810688,
  6.2465781312403195,
  6.265951184984371,
  6.27872780145879,
  6.236496449563878,
  6.244723094061358,
  6.262444146027683,
  6.295406460040122],
 [6.321423211384503,
  6.330553385979978,
  6.359932782712748,
  6.372584076808687,
  6.319169604018208,
  6.383034431925537,
  6.340276500349146,
  6.396522470204554,
  6.30028398440548,
  6.377091804489065,
  6.370629626449737,
  6.369665725142279,
  6.402300596806542,
  6.31386746928486],
 [6.452519376515823,
  6.454098528897947,
  6.551026338102543,
  6.49584717246737,
  6.414201213339933,
  6.4552179750513545,
  6.466635899707784,
  6.463595585955397,
  6.55606046880854,
  6.486696347190707,
  6.446106351662712,
  6.41854789034017,
  6.413612394732802,
  6.505027662905396],
 [6.968082580008679,
  6.583469446653233,
  6.804444863142524,
  6.628751113298502,
  6.7115569264231105,
  6.869519630334628,
  6.942152092811379,
  6.73022701835262,
  6.831976290868462,
  6.623053058700745,
  6.6138510648679905,
  6.955997445286085,
  6.671390687927298,
  6.752130766745275],
 [7.101233552865034,
  7.042837797505633,
  7.026677567367222,
  7.082346999739584,
  7.051435623014002,
  7.0826399890733835,
  7.093358142485952,
  7.01149825679073,
  7.057556700290776,
  7.032404059617655,
  6.995035343150051,
  7.093241277655558,
  7.043398331035739,
  7.041529676751996],
 [7.174432963742363,
  7.111923130380334,
  7.137603811434143,
  7.156350719533581,
  7.193988417790763,
  7.143938994411994,
  7.174947996769718,
  7.137653675184136,
  7.193147060950569,
  7.13310269422333,
  7.187312821545932,
  7.20291578115874,
  7.224619880794606,
  7.15907823069502],
 [7.180416858661288,
  7.17993832140042,
  7.197434371584406,
  7.157403534301501,
  7.195237822225477,
  7.150842990263617,
  7.177043513585417,
  7.166169764907174,
  7.175967656678452,
  7.19334187828003,
  7.187145408343605,
  7.204150040272801,
  7.1803871308359115,
  7.2253385014200475],
 [7.1434172008668995,
  7.136853270757034,
  7.142277973649718,
  7.13052740152151,
  7.138516476019491,
  7.140858332665006,
  7.122063796075879,
  7.1380353273082715,
  7.1310815119797555,
  7.142251537746126,
  7.1393285419506425,
  7.128756047182641,
  7.146221353428688,
  7.131660756886616],
 [7.189121872861762,
  7.216175487276631,
  7.231572428193665,
  7.125497301462937,
  7.196180989239668,
  7.1733734461075365,
  7.178391303894065,
  7.2016241629319975,
  7.200720089840672,
  7.21273910548901,
  7.248274704811153,
  7.267370783938257,
  7.12452317319743,
  7.205739850040893],
 [7.397504379096371,
  7.313440956437156,
  7.292063326775903,
  7.329687866076888,
  7.325716717829137,
  7.383325757773281,
  7.340688602875467,
  7.365878091239685,
  7.420722221973164,
  7.300138950893838,
  7.317858174658255,
  7.292739971749775,
  7.3788413568456015,
  7.364054212312785],
 [7.50369629960438,
  7.464836753993387,
  7.458564734751885,
  7.493890809180167,
  7.461080461069466,
  7.479313837606853,
  7.4854909590611145,
  7.473996645335207,
  7.482766119395228,
  7.490134477828364,
  7.478468586529349,
  7.490148402367613,
  7.46690330653712,
  7.484068566102141],
 [7.569980820994723,
  7.5139971115794,
  7.55474366553468,
  7.510416180366407,
  7.571425631666662,
  7.545181885448508,
  7.586560251947456,
  7.52369328026885,
  7.587058057320764,
  7.525129827203971,
  7.573022821521664,
  7.528519532943117,
  7.575537241989506,
  7.5892686135475245],
 [7.595931527872749,
  7.594300614157531,
  7.5996057379226,
  7.59191394086553,
  7.597695827073692,
  7.595875795038731,
  7.597459908374013,
  7.598266498759076,
  7.59254423007586,
  7.594725397607197,
  7.590494520311101,
  7.590098075326852,
  7.597149640367776,
  7.599677484256389],
 [7.602525961207137,
  7.623707491636916,
  7.637987293884942,
  7.616863358409308,
  7.662004277731668,
  7.614848992458129,
  7.646571659621721,
  7.657301213719921,
  7.643721746505877,
  7.6686192486581435,
  7.682623304045398,
  7.656891522777382,
  7.678532223040144,
  7.665214288574197]]

In [70]:
test = temp.copy()

In [77]:
test

    TempA  TempB  TempC  TempD
0    21.5   21.2   21.3   21.4
1    21.0   20.8   20.5   20.7
2    20.5   20.2   20.3   20.2
3    20.3   20.0   20.1   19.9
4    21.0   20.6   21.1   20.9
5    21.8   22.0   21.7   21.5
6    24.9   24.6   24.8   24.7
7    26.8   26.9   27.0   26.9
8    29.1   28.9   29.3   29.7
9    31.7   31.5   31.2   31.3
10   33.1   32.7   32.9   32.8
11   32.6   32.2   32.3   32.1
12   30.4   30.5   30.3   30.1
13   28.7   28.9   28.4   28.1
14   28.3   28.1   27.9   27.9
15   27.5   27.8   27.2   27.1
16   26.8   27.0   26.4   26.2
17   26.3   26.5   26.2   26.1
18   24.9   24.8   25.3   25.0
19   24.2   24.3   24.7   24.5
20   23.7   23.2   23.5   23.1
21   23.1   22.8   23.0   22.6
22   22.6   22.1   22.4   22.0
23   22.0   21.7   21.9   21.8

In [97]:
tempA_list[0]

[21.103740191148642,
 21.480670092443294,
 21.37273095929327,
 21.021731374972354,
 21.12896289565602,
 21.249506972538143,
 21.240543323844793,
 21.092290605888614,
 21.121369354181375,
 21.169143866045733,
 21.380599674532,
 21.167435622723126,
 21.26136283379812,
 21.339276299333477]

In [72]:
tempA_mat[0]

array([21.02068737, 21.09635625, 21.23055493, 21.20835827, 21.44149809,
       21.04419802, 21.33125515, 21.34076902, 21.20373898, 21.23921255,
       21.29380327, 21.34207336, 21.01155729, 21.34914347])

In [116]:
test

    TempA  TempB  TempC  TempD
2    21.5   21.2   21.3   21.4
3    21.0   20.8   20.5   20.7
4    20.5   20.2   20.3   20.2
5    20.3   20.0   20.1   19.9
6    21.0   20.6   21.1   20.9
7    21.8   22.0   21.7   21.5
8    24.9   24.6   24.8   24.7
9    26.8   26.9   27.0   26.9
10   29.1   28.9   29.3   29.7
11   31.7   31.5   31.2   31.3
12   33.1   32.7   32.9   32.8
13   32.6   32.2   32.3   32.1
14   30.4   30.5   30.3   30.1
15   28.7   28.9   28.4   28.1
16   28.3   28.1   27.9   27.9
17   27.5   27.8   27.2   27.1
18   26.8   27.0   26.4   26.2
19   26.3   26.5   26.2   26.1
20   24.9   24.8   25.3   25.0
21   24.2   24.3   24.7   24.5
22    2.0    3.0    4.0    5.0
23    5.0    4.0    3.0    2.0
24   22.6   22.1   22.4   22.0
25   22.0   21.7   21.9   21.8

In [115]:
test.loc[2:3] = [[2,3,4,5]]   
test = temp.index + 1  
test = temp.sort_index()  
test

    TempA  TempB  TempC  TempD
2    21.5   21.2   21.3   21.4
3    21.0   20.8   20.5   20.7
4    20.5   20.2   20.3   20.2
5    20.3   20.0   20.1   19.9
6    21.0   20.6   21.1   20.9
7    21.8   22.0   21.7   21.5
8    24.9   24.6   24.8   24.7
9    26.8   26.9   27.0   26.9
10   29.1   28.9   29.3   29.7
11   31.7   31.5   31.2   31.3
12   33.1   32.7   32.9   32.8
13   32.6   32.2   32.3   32.1
14   30.4   30.5   30.3   30.1
15   28.7   28.9   28.4   28.1
16   28.3   28.1   27.9   27.9
17   27.5   27.8   27.2   27.1
18   26.8   27.0   26.4   26.2
19   26.3   26.5   26.2   26.1
20   24.9   24.8   25.3   25.0
21   24.2   24.3   24.7   24.5
22    2.0    3.0    4.0    5.0
23    5.0    4.0    3.0    2.0
24   22.6   22.1   22.4   22.0
25   22.0   21.7   21.9   21.8

In [113]:
pH.loc[20:21] = [[2, 3, 4,5],[5,4,3,2]]  
temp.index = temp.index + 1  
temp = temp.sort_index()  
temp

/tmp/ipykernel_9535/3078026537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pH.loc[20:21] = [[2, 3, 4,5],[5,4,3,2]]

    TempA  TempB  TempC  TempD
2    21.5   21.2   21.3   21.4
3    21.0   20.8   20.5   20.7
4    20.5   20.2   20.3   20.2
5    20.3   20.0   20.1   19.9
6    21.0   20.6   21.1   20.9
7    21.8   22.0   21.7   21.5
8    24.9   24.6   24.8   24.7
9    26.8   26.9   27.0   26.9
10   29.1   28.9   29.3   29.7
11   31.7   31.5   31.2   31.3
12   33.1   32.7   32.9   32.8
13   32.6   32.2   32.3   32.1
14   30.4   30.5   30.3   30.1
15   28.7   28.9   28.4   28.1
16   28.3   28.1   27.9   27.9
17   27.5   27.8   27.2   27.1
18   26.8   27.0   26.4   26.2
19   26.3   26.5   26.2   26.1
20   24.9   24.8   25.3   25.0
21   24.2   24.3   24.7   24.5
22    2.0    3.0    4.0    5.0
23    5.0    4.0    3.0    2.0
24   22.6   22.1   22.4   22.0
25   22.0   21.7   21.9   21.8

In [117]:
temp

    TempA  TempB  TempC  TempD
2    21.5   21.2   21.3   21.4
3    21.0   20.8   20.5   20.7
4    20.5   20.2   20.3   20.2
5    20.3   20.0   20.1   19.9
6    21.0   20.6   21.1   20.9
7    21.8   22.0   21.7   21.5
8    24.9   24.6   24.8   24.7
9    26.8   26.9   27.0   26.9
10   29.1   28.9   29.3   29.7
11   31.7   31.5   31.2   31.3
12   33.1   32.7   32.9   32.8
13   32.6   32.2   32.3   32.1
14   30.4   30.5   30.3   30.1
15   28.7   28.9   28.4   28.1
16   28.3   28.1   27.9   27.9
17   27.5   27.8   27.2   27.1
18   26.8   27.0   26.4   26.2
19   26.3   26.5   26.2   26.1
20   24.9   24.8   25.3   25.0
21   24.2   24.3   24.7   24.5
22    2.0    3.0    4.0    5.0
23    5.0    4.0    3.0    2.0
24   22.6   22.1   22.4   22.0
25   22.0   21.7   21.9   21.8

In [118]:
ec.loc[20:21] = [[2, 3, 4,5],[5,4,3,2]]  
ec.index = ec.index + 1  
ec = ec.sort_index()

/tmp/ipykernel_9535/1689240833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ec.loc[20:21] = [[2, 3, 4,5],[5,4,3,2]]

    TempA  TempB  TempC  TempD
2    21.5   21.2   21.3   21.4
3    21.0   20.8   20.5   20.7
4    20.5   20.2   20.3   20.2
5    20.3   20.0   20.1   19.9
6    21.0   20.6   21.1   20.9
7    21.8   22.0   21.7   21.5
8    24.9   24.6   24.8   24.7
9    26.8   26.9   27.0   26.9
10   29.1   28.9   29.3   29.7
11   31.7   31.5   31.2   31.3
12   33.1   32.7   32.9   32.8
13   32.6   32.2   32.3   32.1
14   30.4   30.5   30.3   30.1
15   28.7   28.9   28.4   28.1
16   28.3   28.1   27.9   27.9
17   27.5   27.8   27.2   27.1
18   26.8   27.0   26.4   26.2
19   26.3   26.5   26.2   26.1
20   24.9   24.8   25.3   25.0
21   24.2   24.3   24.7   24.5
22    2.0    3.0    4.0    5.0
23    5.0    4.0    3.0    2.0
24   22.6   22.1   22.4   22.0
25   22.0   21.7   21.9   21.8

In [119]:
ec

    EC_A  EC_B  EC_C  EC_D
1   1748  1679  1577  1695
2   1832  1701  1652  1789
3   2049  2007  1883  1921
4   2105  2168  2029  2019
5   1855  1785  1756  1795
6   1809  1746  1733  1759
7   1796  1704  1699  1726
8   1813  1789  1785  1813
9   1914  1877  1829  1902
10  1928  1898  1856  1971
11  1609  1646  1695  1789
12  1554  1610  1643  1689
13  1329  1402  1446  1453
14  1257  1367  1297  1325
15  1157  1318  1352  1323
16  1122  1287  1304  1279
17  1052  1075  1039  1047
18  1033  1057  1019  1045
19   951   952   839   951
20   958   992   945   976
21     2     3     4     5
22     5     4     3     2
23  1512  1579  1619  1570
24  1627  1676  1610  1690

In [ ]:
ec.loc[20:21] = [[2, 3, 4,5],[5,4,3,2]]  
ec.index = ec.index + 1  
ec = ec.sort_index()

In [137]:
temp = pd.DataFrame(tempA_list)

In [139]:
temp.T

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,21.103740,20.614361,20.446315,20.489907,21.716667,22.766153,25.704793,27.244997,30.563662,33.010652,...,28.377366,27.765691,26.891927,26.629998,25.228277,24.628872,24.078412,23.688236,22.792184,22.551697
1,21.480670,20.823049,20.410580,20.506001,21.252136,24.034000,25.478327,28.262830,31.131474,32.310702,...,28.326253,27.887815,26.997117,26.475683,24.966013,24.881277,23.757446,23.465478,22.731352,22.120463
2,21.372731,20.505151,20.461234,20.735612,21.279284,22.983898,25.734325,28.703718,31.418790,32.423701,...,28.426919,27.833274,27.239436,26.706887,25.646590,24.529755,23.741987,23.174396,22.696498,22.082393
3,21.021731,20.801077,20.453902,20.625942,21.307040,22.820250,26.090073,27.618917,29.374092,32.663956,...,28.581756,28.065817,27.184514,26.317690,25.928452,24.491788,23.994798,23.416547,22.887816,22.459750
4,21.128963,20.950550,20.377104,20.670084,21.777279,22.673093,25.313266,26.804110,30.947260,32.692122,...,28.590638,27.788482,26.889495,26.677031,25.016555,24.702692,23.952048,23.467841,22.935303,22.239153
5,21.249507,20.745268,20.341639,20.715257,21.088836,23.811964,25.209697,27.917722,30.765684,32.860854,...,28.359921,28.020214,27.117936,26.390318,24.903447,24.756039,24.044211,23.586984,22.956285,22.430148
6,21.240543,20.619854,20.373580,20.680963,21.157599,22.728004,26.103530,27.535570,30.875003,32.791271,...,28.676993,27.517412,26.914380,26.553275,25.157821,24.239058,24.061515,23.376288,22.771842,22.414656
7,21.092291,20.720109,20.452110,20.481245,21.404950,23.780227,26.493157,28.176362,31.409228,32.649205,...,28.431478,28.049110,26.904381,26.440039,25.061357,24.518703,24.000627,23.622240,23.067304,22.044892
8,21.121369,20.526760,20.477675,20.969722,21.010743,23.791604,25.708914,28.653781,29.960656,31.876751,...,28.669453,27.957530,26.804521,26.742185,25.832798,24.550841,23.985491,23.626940,22.940081,22.395187
9,21.169144,20.548917,20.371200,20.715269,21.087624,22.510973,26.130737,28.517600,30.011971,31.843704,...,28.510227,28.196780,27.419636,26.575145,25.759920,24.772934,23.758727,23.119383,22.887266,22.301512
10,21.380600,20.960591,20.352659,20.512961,21.535687,23.580075,25.246460,28.740052,31.079891,32.088502,...,28.312479,28.247640,26.822004,26.710773,24.967183,24.628120,23.836935,23.221180,22.869869,22.158174
11,21.167436,20.591688,20.455478,20.553007,21.492408,22.314752,25.434729,28.555551,29.100428,32.126891,...,28.543812,28.093628,27.225788,26.474550,24.932439,24.507199,23.764265,23.206555,22.842434,22.183022
12,21.261363,20.506857,20.499974,20.618525,21.246771,23.270627,25.987330,28.161490,30.066176,32.149953,...,28.352361,27.584676,27.018674,26.394313,25.420542,24.461208,23.735973,23.594833,22.650104,22.372326
13,21.339276,20.803910,20.415007,20.524087,21.690864,24.369018,24.938069,26.833780,31.372002,33.000430,...,28.561239,27.998196,27.391587,26.355884,25.195946,24.252564,23.894993,23.367479,23.088780,22.129135

In [146]:
tempA = pd.DataFrame(tempA_list)
tempB = pd.DataFrame(tempB_list)
tempC = pd.DataFrame(tempC_list)
tempD = pd.DataFrame(tempD_list)

pHA = pd.DataFrame(pHA_list)
pHB = pd.DataFrame(pHB_list)
pHC = pd.DataFrame(pHC_list)
pHD = pd.DataFrame(pHD_list)

DOA = pd.DataFrame(DOA_list)
DOB = pd.DataFrame(DOB_list)
DOC = pd.DataFrame(DOC_list)
DOD = pd.DataFrame(DOD_list)

BODA = pd.DataFrame(BODA_list)
BODB = pd.DataFrame(BODB_list)
BODC = pd.DataFrame(BODC_list)
BODD = pd.DataFrame(BODD_list)

ECA = pd.DataFrame(ECA_list)
ECB = pd.DataFrame(ECB_list)
ECC = pd.DataFrame(ECC_list)
ECD = pd.DataFrame(ECD_list)

TNA = pd.DataFrame(TNA_list)
TNB = pd.DataFrame(TNB_list)
TNC = pd.DataFrame(TNC_list)
TND = pd.DataFrame(TND_list)

In [149]:
tempA = tempA.T
tempB = tempB.T
tempC = tempC.T
tempD = tempD.T

pHA = pHA.T
pHB = pHB.T
pHC = pHC.T
pHD = pHD.T

ECA = ECA.T
ECB = ECB.T
ECC = ECC.T
ECD = ECD.T

DOA = DOA.T
DOB = DOB.T
DOC = DOC.T
DOD = DOD.T

BODA = BODA.T
BODB = BODB.T
BODC = BODC.T
BODD = BODD.T

TNA = TNA.T
TNB = TNB.T
TNC = TNC.T
TND = TND.T

In [150]:
tempA.to_csv("tempA.csv")
tempB.to_csv("tempB.csv")
tempC.to_csv("tempC.csv")
tempD.to_csv("tempD.csv")


pHA.to_csv("pHA.csv")
pHB.to_csv("pHB.csv")
pHC.to_csv("pHC.csv")
pHD.to_csv("pHD.csv")   

ECA.to_csv("ECA.csv")
ECB.to_csv("ECB.csv")
ECC.to_csv("ECC.csv")
ECD.to_csv("ECD.csv")   

DOA.to_csv("DOA.csv")
DOB.to_csv("DOB.csv")
DOC.to_csv("DOC.csv")
DOD.to_csv("DOD.csv")   

BODA.to_csv("BODA.csv")
BODB.to_csv("BODB.csv")
BODC.to_csv("BODC.csv")
BODD.to_csv("BODD.csv")   

TNA.to_csv("TNA.csv")
TNB.to_csv("TNB.csv")
TNC.to_csv("TNC.csv")
TND.to_csv("TND.csv")

In [151]:
tempA

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,21.103740,20.614361,20.446315,20.489907,21.716667,22.766153,25.704793,27.244997,30.563662,33.010652,...,28.377366,27.765691,26.891927,26.629998,25.228277,24.628872,24.078412,23.688236,22.792184,22.551697
1,21.480670,20.823049,20.410580,20.506001,21.252136,24.034000,25.478327,28.262830,31.131474,32.310702,...,28.326253,27.887815,26.997117,26.475683,24.966013,24.881277,23.757446,23.465478,22.731352,22.120463
2,21.372731,20.505151,20.461234,20.735612,21.279284,22.983898,25.734325,28.703718,31.418790,32.423701,...,28.426919,27.833274,27.239436,26.706887,25.646590,24.529755,23.741987,23.174396,22.696498,22.082393
3,21.021731,20.801077,20.453902,20.625942,21.307040,22.820250,26.090073,27.618917,29.374092,32.663956,...,28.581756,28.065817,27.184514,26.317690,25.928452,24.491788,23.994798,23.416547,22.887816,22.459750
4,21.128963,20.950550,20.377104,20.670084,21.777279,22.673093,25.313266,26.804110,30.947260,32.692122,...,28.590638,27.788482,26.889495,26.677031,25.016555,24.702692,23.952048,23.467841,22.935303,22.239153
5,21.249507,20.745268,20.341639,20.715257,21.088836,23.811964,25.209697,27.917722,30.765684,32.860854,...,28.359921,28.020214,27.117936,26.390318,24.903447,24.756039,24.044211,23.586984,22.956285,22.430148
6,21.240543,20.619854,20.373580,20.680963,21.157599,22.728004,26.103530,27.535570,30.875003,32.791271,...,28.676993,27.517412,26.914380,26.553275,25.157821,24.239058,24.061515,23.376288,22.771842,22.414656
7,21.092291,20.720109,20.452110,20.481245,21.404950,23.780227,26.493157,28.176362,31.409228,32.649205,...,28.431478,28.049110,26.904381,26.440039,25.061357,24.518703,24.000627,23.622240,23.067304,22.044892
8,21.121369,20.526760,20.477675,20.969722,21.010743,23.791604,25.708914,28.653781,29.960656,31.876751,...,28.669453,27.957530,26.804521,26.742185,25.832798,24.550841,23.985491,23.626940,22.940081,22.395187
9,21.169144,20.548917,20.371200,20.715269,21.087624,22.510973,26.130737,28.517600,30.011971,31.843704,...,28.510227,28.196780,27.419636,26.575145,25.759920,24.772934,23.758727,23.119383,22.887266,22.301512
10,21.380600,20.960591,20.352659,20.512961,21.535687,23.580075,25.246460,28.740052,31.079891,32.088502,...,28.312479,28.247640,26.822004,26.710773,24.967183,24.628120,23.836935,23.221180,22.869869,22.158174
11,21.167436,20.591688,20.455478,20.553007,21.492408,22.314752,25.434729,28.555551,29.100428,32.126891,...,28.543812,28.093628,27.225788,26.474550,24.932439,24.507199,23.764265,23.206555,22.842434,22.183022
12,21.261363,20.506857,20.499974,20.618525,21.246771,23.270627,25.987330,28.161490,30.066176,32.149953,...,28.352361,27.584676,27.018674,26.394313,25.420542,24.461208,23.735973,23.594833,22.650104,22.372326
13,21.339276,20.803910,20.415007,20.524087,21.690864,24.369018,24.938069,26.833780,31.372002,33.000430,...,28.561239,27.998196,27.391587,26.355884,25.195946,24.252564,23.894993,23.367479,23.088780,22.129135