In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("data/OraganicCarbonTitration.csv")

In [4]:
df

   Sample  Reading
0   blank      9.5
1     kj1      8.0
2     kj2      8.6
3     kj3      8.0
4     kj4      9.0
5     kj5      8.8
6      H1      8.2
7      H2      8.7
8      H3      9.2
9      H4      9.3
10     H5      9.2
11    Hb1      8.9
12    Hb2      8.9
13    Hb3      9.4
14    Hb4      9.1
15    Hb5      9.3
16     k1      8.5
17     k2      8.4
18     k3      8.6
19     k4      9.1
20     k5      9.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Sample   21 non-null     object
 1   Reading  21 non-null     float64
dtypes: float64(1), object(1)
memory usage: 464.0+ bytes

In [15]:
S1 = 1
V1 = 10 
V2 = df["Reading"][0]

S2 = (S1 * V1) / V2
S2

1.0526315789473684

In [17]:
w = 2
f = S2


percentage_carbon = ((df.Reading[0] - df.Reading) * f * 0.39) / w

In [18]:
percentage_carbon

0     0.000000
1     0.307895
2     0.184737
3     0.307895
4     0.102632
5     0.143684
6     0.266842
7     0.164211
8     0.061579
9     0.041053
10    0.061579
11    0.123158
12    0.123158
13    0.020526
14    0.082105
15    0.041053
16    0.205263
17    0.225789
18    0.184737
19    0.082105
20    0.061579
Name: Reading, dtype: float64

In [22]:
df["PCarbon"] = percentage_carbon
df

   Sample  Reading   PCarbon
0   blank      9.5  0.000000
1     kj1      8.0  0.307895
2     kj2      8.6  0.184737
3     kj3      8.0  0.307895
4     kj4      9.0  0.102632
5     kj5      8.8  0.143684
6      H1      8.2  0.266842
7      H2      8.7  0.164211
8      H3      9.2  0.061579
9      H4      9.3  0.041053
10     H5      9.2  0.061579
11    Hb1      8.9  0.123158
12    Hb2      8.9  0.123158
13    Hb3      9.4  0.020526
14    Hb4      9.1  0.082105
15    Hb5      9.3  0.041053
16     k1      8.5  0.205263
17     k2      8.4  0.225789
18     k3      8.6  0.184737
19     k4      9.1  0.082105
20     k5      9.2  0.061579

In [23]:
df.to_csv("data/CarbonPercentage.csv")