In [2]:
import pandas as pd

In [1]:
%ls data

CF.csv   data.csv  EF.xlsx      Igeo.csv   RI.csv   stations.csv
CF.xlsx  EF.csv    fe_conc.csv  Igeo.xlsx  RI.xlsx

In [14]:
child_param = {
    "BW": 15,
    "EF":180,
    "ED": 6,
    "IRing": 200,
    "IRinh": 7.6,
    "SA": 1150,
    "SL": 0.2,
    "ABS": [0.001, 0.03],
    "PEF": 1.36 * ((10)**9),
    "CF": 10**(-6),
    "AT_carc": 365*70,
    "AT_non": 365 * 6,
    "RfDing": {
        "Cr": 3.00e-03,
        "Ni": 2.00e-02,
        "Cu": 4.00e-02,
        "Cd": 1.00e-03,
        "As": 3.00e-04,
        "Pb": 3.50e-03
    },
    "RfDinh": {
        "Cr": 2.86e-03,
        "Ni": 2.06e-02,
        "Cu": 4.02e-02,
        "Cd": 1.00e-03,
        "As": 3.01e-04,
        "Pb": 3.52e-03
    },
    "RfDderm": {
        "Cr": 6.00e-05,
        "Ni": 5.40e-03,
        "Cu": 1.20e-02,
        "Cd": 1.00e-05,
        "As": 1.25e-04,
        "Pb": 5.25e-04
    },
    "SFing": {
        "Pb": 9.00e-03,
        "As": 1.50e+00
    },
    
    "SFinh": {
        "Cr": 4.20e+01,
        "Ni": 8.40e-01,
        "Cu": 1.20e-02,
        "Cd": 6.30e+00,
        "As": 1.51e+01
    },
    
    "SFderm": {
        "Cr": 2.00e+01,
        "As": 3.66e+00
    }
}

In [15]:
child_param

{'BW': 15,
 'EF': 180,
 'ED': 6,
 'IRing': 200,
 'IRinh': 7.6,
 'SA': 1150,
 'SL': 0.2,
 'ABS': [0.001, 0.03],
 'PEF': 1360000000.0,
 'CF': 1e-06,
 'AT_carc': 25550,
 'AT_non': 2190,
 'RfDing': {'Cr': 0.003,
  'Ni': 0.02,
  'Cu': 0.04,
  'Cd': 0.001,
  'As': 0.0003,
  'Pb': 0.0035},
 'RfDinh': {'Cr': 0.00286,
  'Ni': 0.0206,
  'Cu': 0.0402,
  'Cd': 0.001,
  'As': 0.000301,
  'Pb': 0.00352},
 'RfDderm': {'Cr': 6e-05,
  'Ni': 0.0054,
  'Cu': 0.012,
  'Cd': 1e-05,
  'As': 0.000125,
  'Pb': 0.000525},
 'SFing': {'Pb': 0.009, 'As': 1.5},
 'SFinh': {'Cr': 42.0, 'Ni': 0.84, 'Cu': 0.012, 'Cd': 6.3, 'As': 15.1},
 'SFderm': {'Cr': 20.0, 'As': 3.66}}

In [9]:
child_param["RfDing"]["Cr"]

0.003

In [27]:
adult_param = {
    "BW": 70,
    "EF":180,
    "ED": 30,
    "IRing": 100,
    "IRinh": 20,
    "SA": 2145,
    "SL": 0.07,
    "ABS": 0.001,
    "PEF": 1.36e+09,
    "CF": 10e-06,
    "AT_carc": 365*70,
    "AT_non": 365 * 30,
    "RfDing": {
        "Cr": 3.00e-03,
        "Ni": 2.00e-02,
        "Cu": 4.00e-02,
        "Cd": 1.00e-03,
        "As": 3.00e-04,
        "Pb": 3.50e-03
    },
    "RfDinh": {
        "Cr": 2.86e-03,
        "Ni": 2.06e-02,
        "Cu": 4.02e-02,
        "Cd": 1.00e-03,
        "As": 3.01e-04,
        "Pb": 3.52e-03
    },
    "RfDderm": {
        "Cr": 6.00e-05,
        "Ni": 5.40e-03,
        "Cu": 1.20e-02,
        "Cd": 1.00e-05,
        "As": 1.25e-04,
        "Pb": 5.25e-04
    },
    "SFing": {
        "Pb": 9.00e-03,
        "As": 1.50e+00
    },
    
    "SFinh": {
        "Cr": 4.20e+01,
        "Ni": 8.40e-01,
        "Cu": 1.20e-02,
        "Cd": 6.30e+00,
        "As": 1.51e+01
    },
    
    "SFderm": {
        "Cr": 2.00e+01,
        "As": 3.66e+00
    }
}

In [50]:
df = pd.read_csv("data/data.csv")

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stations  17 non-null     object
 1   CrW       17 non-null     float64
 2   CrR       17 non-null     float64
 3   NiW       17 non-null     float64
 4   NiR       17 non-null     float64
 5   CuW       17 non-null     float64
 6   CuR       17 non-null     float64
 7   AsW       17 non-null     float64
 8   AsR       17 non-null     float64
 9   CdW       17 non-null     float64
 10  CdR       17 non-null     float64
 11  PbW       17 non-null     float64
 12  PbR       17 non-null     float64
dtypes: float64(12), object(1)
memory usage: 1.9+ KB

In [52]:
stations = pd.read_csv("data/stations.csv")

In [53]:
stations

   Stations      Location Station_Code
0        S1   Dhaleshwari          DS1
1        S2   Dhaleshwari          DS2
2        S3   Dhaleshwari          DS3
3        S4   Dhaleshwari          DS4
4        S5   Dhaleshwari          DS5
5        S6   Dhaleshwari          DS6
6        S7   Dhaleshwari          DS7
7        S8         Turag          TS8
8        S9         Turag          TS9
9       S10         Turag         TS10
10      S11     Buriganga        BuS11
11      S12     Buriganga        BuS12
12      S13          Balu        BaS13
13      S14          Balu        BaS14
14      S15  Shitalakshya         SS15
15      S16  Shitalakshya         SS16
16      S17  Shitalakshya         SS17

In [54]:
df["Station"], df["Location"], df["ID"]  = stations["Stations"], stations["Location"], stations["Station_Code"]

In [55]:
df.head()

,Stations,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,ID
0,S1(Dhaleshwari),106.58,92.69,34.35,19.18,69.95,40.34,9.12,7.96,4.43,2.66,105.90,50.73,S1,Dhaleshwari,DS1
1,S2(Dhaleshwari),104.28,88.40,27.10,17.21,75.12,41.56,13.79,9.88,3.82,2.97,96.14,38.90,S2,Dhaleshwari,DS2
2,S3(Dhaleshwari),89.77,66.92,59.33,37.52,71.13,49.47,26.17,15.48,2.95,2.10,77.36,32.79,S3,Dhaleshwari,DS3
3,S4(Dhaleshwari),71.55,55.56,49.17,26.08,92.34,69.77,25.35,18.77,2.36,1.79,90.48,43.40,S4,Dhaleshwari,DS4
4,S5(Dhaleshwari),100.15,64.50,50.68,30.62,100.22,73.19,28.37,20.96,2.10,1.45,79.10,53.55,S5,Dhaleshwari,DS5

In [56]:
df = df.drop(columns=["Stations"])

In [57]:
df.head()

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,ID
0,106.58,92.69,34.35,19.18,69.95,40.34,9.12,7.96,4.43,2.66,105.90,50.73,S1,Dhaleshwari,DS1
1,104.28,88.40,27.10,17.21,75.12,41.56,13.79,9.88,3.82,2.97,96.14,38.90,S2,Dhaleshwari,DS2
2,89.77,66.92,59.33,37.52,71.13,49.47,26.17,15.48,2.95,2.10,77.36,32.79,S3,Dhaleshwari,DS3
3,71.55,55.56,49.17,26.08,92.34,69.77,25.35,18.77,2.36,1.79,90.48,43.40,S4,Dhaleshwari,DS4
4,100.15,64.50,50.68,30.62,100.22,73.19,28.37,20.96,2.10,1.45,79.10,53.55,S5,Dhaleshwari,DS5

## Child Non-Carcinogenic

###  ADD

In [20]:
add_upper_ingCrW = df["CrW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]

In [21]:
ADDingCrW = add_upper_ingCrW /  (child_param["BW"] * child_param["AT_non"])
ADDingCrW

0     0.000701
1     0.000686
2     0.000590
3     0.000470
4     0.000659
5     0.000567
6     0.000694
7     0.000120
8     0.000113
9     0.000089
10    0.000613
11    0.000777
12    0.000113
13    0.000085
14    0.000526
15    0.000409
16    0.000387
Name: CrW, dtype: float64

In [23]:
add_upper_inhCrW = df["CrW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCrW = add_upper_inhCrW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])
ADDinhCrW

0     1.958118e-08
1     1.915861e-08
2     1.649280e-08
3     1.314537e-08
4     1.839984e-08
5     1.583691e-08
6     1.938827e-08
7     3.341918e-09
8     3.152683e-09
9     2.491281e-09
10    1.714134e-08
11    2.169766e-08
12    3.143497e-09
13    2.370024e-09
14    1.470334e-08
15    1.141470e-08
16    1.080290e-08
Name: CrW, dtype: float64

### ADDinh

In [60]:
add_upper_inhCrW = df["CrW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCrW = add_upper_inhCrW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhNiW = df["NiW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhNiW = add_upper_inhNiW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhCuW = df["CuW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCuW = add_upper_inhCuW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhAsW = df["AsW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhAsW = add_upper_inhAsW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhCdW = df["CdW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCdW = add_upper_inhCdW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhPbW = df["PbW"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhPbW = add_upper_inhPbW /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

In [61]:
add_upper_inhCrR = df["CrR"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCrR = add_upper_inhCrR /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhNiR = df["NiR"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhNiR = add_upper_inhNiR /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhCuR = df["CuR"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCuR = add_upper_inhCuR /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhAsR = df["AsR"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhAsR = add_upper_inhAsR /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhCdR = df["CdR"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhCdR = add_upper_inhCdR /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

add_upper_inhPbR = df["PbR"] * child_param["IRinh"]  * child_param["EF"] * child_param["ED"]
ADDinhPbR = add_upper_inhPbR /  (child_param["PEF"] * child_param["BW"] * child_param["AT_non"])

### ADDing

In [62]:
add_upper_ingCrW = df["CrW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingCrW = add_upper_ingCrW /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingNiW = df["NiW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingNiW = add_upper_ingNiW /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingCuW = df["CuW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingCuW = add_upper_ingCuW /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingAsW = df["AsW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingAsW = add_upper_ingAsW /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingCdW = df["CdW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingCdW = add_upper_ingCdW /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingPbW = df["PbW"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingPbW = add_upper_ingPbW /  (child_param["BW"] * child_param["AT_non"])

In [63]:
add_upper_ingCrR = df["CrR"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingCrR = add_upper_ingCrR /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingNiR = df["NiR"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingNiR = add_upper_ingNiR /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingCuR = df["CuR"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingCuR = add_upper_ingCuR /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingAsR = df["AsR"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingAsR = add_upper_ingAsR /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingCdR = df["CdR"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingCdR = add_upper_ingCdR /  (child_param["BW"] * child_param["AT_non"])

add_upper_ingPbR = df["PbR"] * child_param["IRing"] * child_param["CF"] * child_param["EF"] * child_param["ED"]
ADDingPbR = add_upper_ingPbR /  (child_param["BW"] * child_param["AT_non"])

###  ADDderm

In [37]:
add_upper_dermCrW = df["CrW"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermCrW = add_upper_dermCrW / (child_param["BW"] * child_param["AT_non"])

add_upper_dermNiW = df["NiW"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermNiW = add_upper_dermNiW / (child_param["BW"] * child_param["AT_non"])

add_upper_dermCuW = df["CuW"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermCuW = add_upper_dermCuW / (child_param["BW"] * child_param["AT_non"])

add_upper_dermAsW = df["AsW"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][1] * child_param["EF"] * child_param["ED"]
ADDdermAsW = add_upper_dermAsW / (child_param["BW"] * child_param["AT_non"])

add_upper_dermCdW = df["CdW"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermCdW = add_upper_dermCdW / (child_param["BW"] * child_param["AT_non"])

add_upper_dermPbW = df["PbW"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermPbW = add_upper_dermPbW / (child_param["BW"] * child_param["AT_non"])

In [65]:
add_upper_dermCrR = df["CrR"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermCrR = add_upper_dermCrR / (child_param["BW"] * child_param["AT_non"])

add_upper_dermNiR = df["NiR"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermNiR = add_upper_dermNiR / (child_param["BW"] * child_param["AT_non"])

add_upper_dermCuR = df["CuR"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermCuR = add_upper_dermCuR / (child_param["BW"] * child_param["AT_non"])

add_upper_dermAsR = df["AsR"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][1] * child_param["EF"] * child_param["ED"]
ADDdermAsR = add_upper_dermAsR / (child_param["BW"] * child_param["AT_non"])

add_upper_dermCdR = df["CdR"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermCdR = add_upper_dermCdR / (child_param["BW"] * child_param["AT_non"])

add_upper_dermPbR = df["PbR"] * child_param["CF"] * child_param["SA"] * child_param["SA"] * child_param["SL"] * child_param["ABS"][0] * child_param["EF"] * child_param["ED"]
ADDdermPbR = add_upper_dermPbR / (child_param["BW"] * child_param["AT_non"])

### HQ

In [66]:
ADD = ADDdermCrW + ADDingCrW + ADDinhCrW
ADD

0     0.001628
1     0.001593
2     0.001371
3     0.001093
4     0.001529
5     0.001316
6     0.001612
7     0.000278
8     0.000262
9     0.000207
10    0.001425
11    0.001804
12    0.000261
13    0.000197
14    0.001222
15    0.000949
16    0.000898
Name: CrW, dtype: float64