In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data.csv")

In [5]:
df

,Stations,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
0,S1(Dhaleshwari),106.58,92.69,34.35,19.18,69.95,40.34,9.12,7.96,4.43,2.66,105.90,50.73
1,S2(Dhaleshwari),104.28,88.40,27.10,17.21,75.12,41.56,13.79,9.88,3.82,2.97,96.14,38.90
2,S3(Dhaleshwari),89.77,66.92,59.33,37.52,71.13,49.47,26.17,15.48,2.95,2.10,77.36,32.79
3,S4(Dhaleshwari),71.55,55.56,49.17,26.08,92.34,69.77,25.35,18.77,2.36,1.79,90.48,43.40
4,S5(Dhaleshwari),100.15,64.50,50.68,30.62,100.22,73.19,28.37,20.96,2.10,1.45,79.10,53.55
5,S6(Dhaleshwari),86.20,60.35,23.32,11.72,189.14,98.28,14.20,10.42,1.50,0.82,63.44,37.88
6,S7(Dhaleshwari),105.53,69.37,22.18,14.95,112.23,96.72,21.37,19.88,1.36,0.97,40.55,33.47
7,S8(Turag),18.19,15.70,81.17,40.76,100.19,73.87,12.54,11.36,3.69,2.17,233.47,98.10
8,S9(Turag),17.16,12.74,85.22,39.43,105.64,87.20,14.23,10.78,5.14,3.60,250.11,170.40
9,S10(Turag),13.56,11.13,57.59,47.01,98.65,80.78,19.87,18.90,2.90,2.79,217.80,108.60
10,S11(Buriganga),93.30,74.47,71.63,49.94,177.37,141.40,12.81,9.88,7.10,5.56,259.10,155.40
11,S12(Buriganga),118.10,86.82,79.25,55.88,261.10,147.90,9.32,7.98,9.10,7.94,297.40,177.90
12,S13(Balu),17.11,10.37,39.41,29.73,75.15,56.47,7.49,6.67,2.31,1.96,64.10,35.98
13,S14(Balu),12.90,9.44,25.78,21.94,79.57,53.71,8.53,6.90,1.53,1.15,59.80,31.48
14,S15(Shitalakshya),80.03,51.37,28.10,16.78,105.20,71.89,20.68,15.71,9.11,8.70,96.87,76.52
15,S16(Shitalakshya),62.13,40.75,71.22,46.14,115.48,85.56,19.83,13.92,14.93,10.16,190.40,98.47
16,S17(Shitalakshya),58.80,44.82,69.53,50.63,169.29,91.33,21.77,15.84,12.70,9.42,210.65,95.44

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Stations  17 non-null     object
 1   CrW       17 non-null     float64
 2   CrR       17 non-null     float64
 3   NiW       17 non-null     float64
 4   NiR       17 non-null     float64
 5   CuW       17 non-null     float64
 6   CuR       17 non-null     float64
 7   AsW       17 non-null     float64
 8   AsR       17 non-null     float64
 9   CdW       17 non-null     float64
 10  CdR       17 non-null     float64
 11  PbW       17 non-null     float64
 12  PbR       17 non-null     float64
dtypes: float64(12), object(1)
memory usage: 1.9+ KB

In [8]:
df.describe()

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,67.961176,50.317647,51.472353,32.677647,117.515882,79.967059,16.790588,13.017059,5.119412,3.894706,143.098235,78.765294
std,38.024419,29.224498,22.233948,14.315756,52.063485,30.298136,6.616756,4.761989,4.092572,3.177895,85.226817,50.123600
min,12.900000,9.440000,22.180000,11.720000,69.950000,40.340000,7.490000,6.670000,1.360000,0.820000,40.550000,31.480000
25%,18.190000,15.700000,28.100000,19.180000,79.570000,56.470000,12.540000,9.880000,2.310000,1.790000,77.360000,37.880000
50%,80.030000,55.560000,50.680000,30.620000,100.220000,73.870000,14.230000,11.360000,3.690000,2.660000,96.870000,53.550000
75%,100.150000,69.370000,71.220000,46.140000,115.480000,91.330000,21.370000,15.840000,7.100000,5.560000,217.800000,98.470000
max,118.100000,92.690000,85.220000,55.880000,261.100000,147.900000,28.370000,20.960000,14.930000,10.160000,297.400000,177.900000

In [11]:
df.head()

,Stations,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
0,S1(Dhaleshwari),106.58,92.69,34.35,19.18,69.95,40.34,9.12,7.96,4.43,2.66,105.90,50.73
1,S2(Dhaleshwari),104.28,88.40,27.10,17.21,75.12,41.56,13.79,9.88,3.82,2.97,96.14,38.90
2,S3(Dhaleshwari),89.77,66.92,59.33,37.52,71.13,49.47,26.17,15.48,2.95,2.10,77.36,32.79
3,S4(Dhaleshwari),71.55,55.56,49.17,26.08,92.34,69.77,25.35,18.77,2.36,1.79,90.48,43.40
4,S5(Dhaleshwari),100.15,64.50,50.68,30.62,100.22,73.19,28.37,20.96,2.10,1.45,79.10,53.55

In [10]:
background_values = pd.DataFrame({
    "Elements": ["Cr", "Ni", "Cu", "As", "Cd", "Pb",  "Fe"],
    "Bm" : [90, 68, 45, 13, 0.3, 20, 30890]
})

### Igeo

In [12]:
background_values

  Elements       Bm
0       Cr     90.0
1       Ni     68.0
2       Cu     45.0
3       As     13.0
4       Cd      0.3
5       Pb     20.0
6       Fe  30890.0

In [13]:
import math

In [14]:
igeo_PbW = []
igeo_PbR = []

igeo_CrW = []
igeo_CrR = []

igeo_NiW = []
igeo_NiR = []

igeo_CuW = []
igeo_CuR = []

igeo_AsW = []
igeo_AsR = []

igeo_CdW = []
igeo_CdR = []

i = 0
while i < len(df["PbR"]):
    ig_Crr = math.log2(df["CrR"][i]/ (1.5 * background_values["Bm"][0]))
    igeo_CrR.append(ig_Crr)
    
    ig_Crw = math.log2(df["CrW"][i]/ (1.5 * background_values["Bm"][0]))
    igeo_CrW.append(ig_Crw)
    
    ig_Nir = math.log2(df["NiR"][i]/ (1.5 * background_values["Bm"][1]))
    igeo_NiR.append(ig_Nir)
    
    ig_Niw = math.log2(df["NiW"][i]/ (1.5 * background_values["Bm"][1]))
    igeo_NiW.append(ig_Niw)
    
    ig_Cur = math.log2(df["CuR"][i]/ (1.5 * background_values["Bm"][2]))
    igeo_CuR.append(ig_Cur)
    
    ig_Cuw = math.log2(df["CuW"][i]/ (1.5 * background_values["Bm"][2]))
    igeo_CuW.append(ig_Cuw)
    
    ig_Asr = math.log2(df["AsR"][i]/ (1.5 * background_values["Bm"][3]))
    igeo_AsR.append(ig_Asr)
    
    ig_Asw = math.log2(df["AsW"][i]/ (1.5 * background_values["Bm"][3]))
    igeo_AsW.append(ig_Asw)
    
    ig_Cdr = math.log2(df["CdR"][i]/ (1.5 * background_values["Bm"][4]))
    igeo_CdR.append(ig_Cdr)    
    
    ig_Cdw = math.log2(df["CdW"][i]/ (1.5 * background_values["Bm"][4]))
    igeo_CdW.append(ig_Cdw)    
    
    ig_pbr = math.log2(df["PbR"][i]/ (1.5 * background_values["Bm"][5]))
    igeo_PbR.append(ig_pbr)
    
    ig_pbw = math.log2(df["PbW"][i]/ (1.5 * background_values["Bm"][5]))
    igeo_PbW.append(ig_pbw)
    
    
    
    
    i += 1

In [16]:
igeo_PbR, igeo_PbW

([0.7578766597478961,
  0.374807654490311,
  0.12829340100981756,
  0.5327325419485983,
  0.835924074254375,
  0.3364738300851419,
  0.1579060503032863,
  1.709290635723358,
  2.5058909297299574,
  1.8559896973084806,
  2.3729520979118295,
  2.5680321047712793,
  0.2622326858682388,
  0.06947304012424332,
  1.350874372962869,
  1.7147217574157987,
  1.6696315423119847],
 [1.8196681834964556,
  1.6801743027546525,
  1.366625294093598,
  1.5926364286065773,
  1.3987151939769107,
  1.0804302703207351,
  0.434739413721392,
  2.9602027752282556,
  3.059528335259631,
  2.8599695482210263,
  3.1104746096842133,
  3.309370241556538,
  1.09536185612286,
  0.995182983702224,
  1.691087440951894,
  2.665999072812063,
  2.8118135100663735])

In [30]:
igeo = pd.DataFrame({
    "CrW": igeo_CrW,
    "CrR": igeo_CrR,
    "NiW": igeo_NiW,
    "NiR": igeo_NiR,
    "CuW": igeo_CuW,
    "CuR": igeo_CuR,
    "AsW": igeo_AsW,
    "AsR": igeo_AsR,
    "CdW": igeo_CdW,
    "CdR": igeo_CdR,
    "PbW": igeo_PbW,
    "PbR": igeo_PbR
    
})

In [31]:
igeo

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
0,-0.341023,-0.542474,-1.570187,-2.410895,0.051437,-0.742676,-1.096368,-1.292634,3.299310,2.563429,1.819668,0.757877
1,-0.372497,-0.610841,-1.912204,-2.567250,0.154310,-0.699692,-0.499852,-0.980891,3.085576,2.722466,1.680174,0.374808
2,-0.588654,-1.012450,-0.781735,-1.442837,0.075571,-0.448334,0.424440,-0.333069,2.712718,2.222392,1.366625,0.128293
3,-0.915936,-1.280841,-1.052719,-1.967553,0.452068,0.047719,0.378512,-0.055045,2.390790,1.991963,1.592636,0.532733
4,-0.430797,-1.065588,-1.009081,-1.736023,0.570211,0.116759,0.540892,0.104165,2.222392,1.688056,1.398715,0.835924
5,-0.647200,-1.161534,-2.128929,-3.121525,1.486495,0.542010,-0.457583,-0.904119,1.736966,0.865699,1.080430,0.336474
6,-0.355306,-0.960576,-2.201238,-2.770352,0.733499,0.518927,0.132113,0.027844,1.595610,1.108060,0.434739,0.157906
7,-2.891742,-3.104123,-0.329551,-1.323343,0.569779,0.130101,-0.636937,-0.779511,3.035624,2.269698,2.960203,1.709291
8,-2.975838,-3.405522,-0.259305,-1.371204,0.646197,0.369441,-0.454538,-0.855117,3.513771,3.000000,3.059528,2.505891
9,-3.315530,-3.600434,-0.824679,-1.117530,0.547432,0.259111,0.027118,-0.045088,2.688056,2.632268,2.859970,1.855990
10,-0.533010,-0.858228,-0.509933,-1.030301,1.393803,1.066823,-0.606204,-0.980891,3.979822,3.627088,3.110475,2.372952
11,-0.192950,-0.636860,-0.364086,-0.868165,1.951643,1.131663,-1.065072,-1.289013,4.337870,4.141142,3.309370,2.568032
12,-2.980048,-3.702472,-1.371935,-1.778578,0.154886,-0.257403,-1.380437,-1.547715,2.359896,2.122857,1.095362,0.262233
13,-3.387516,-3.838029,-1.984245,-2.216934,0.237337,-0.329697,-1.192856,-1.498806,1.765535,1.353637,0.995183,0.069473
14,-0.754347,-1.393961,-1.859927,-2.603755,0.640175,0.090904,0.084762,-0.311791,4.339454,4.273018,1.691087,1.350874
15,-1.119597,-1.728087,-0.518215,-1.144479,0.774684,0.342049,0.024211,-0.486315,5.052145,4.496832,2.665999,1.714722
16,-1.199071,-1.590745,-0.552862,-1.010505,1.326537,0.436201,0.158867,-0.299902,4.818760,4.387730,2.811814,1.669632

In [32]:
igeo.describe()

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,-1.353004,-1.793692,-1.131225,-1.793013,0.692121,0.151406,-0.330526,-0.678112,3.113782,2.674490,1.995999,1.129594
std,1.204128,1.206306,0.688498,0.707976,0.548253,0.533925,0.607963,0.547093,1.085765,1.161191,0.905422,0.889462
min,-3.387516,-3.838029,-2.201238,-3.121525,0.051437,-0.742676,-1.380437,-1.547715,1.595610,0.865699,0.434739,0.069473
25%,-2.891742,-3.104123,-1.859927,-2.410895,0.237337,-0.257403,-0.636937,-0.980891,2.359896,1.991963,1.366625,0.336474
50%,-0.754347,-1.280841,-1.009081,-1.736023,0.570211,0.130101,-0.454538,-0.779511,3.035624,2.563429,1.691087,0.835924
75%,-0.430797,-0.960576,-0.518215,-1.144479,0.774684,0.436201,0.132113,-0.299902,3.979822,3.627088,2.859970,1.714722
max,-0.192950,-0.542474,-0.259305,-0.868165,1.951643,1.131663,0.540892,0.104165,5.052145,4.496832,3.309370,2.568032

In [33]:
stations = pd.read_csv("stations.csv")
stations

   Stations      Location Station_Code
0        S1   Dhaleshwari          DS1
1        S2   Dhaleshwari          DS2
2        S3   Dhaleshwari          DS3
3        S4   Dhaleshwari          DS4
4        S5   Dhaleshwari          DS5
5        S6   Dhaleshwari          DS6
6        S7   Dhaleshwari          DS7
7        S8         Turag          TS8
8        S9         Turag          TS9
9       S10         Turag         TS10
10      S11     Buriganga        BuS11
11      S12     Buriganga        BuS12
12      S13          Balu        BaS13
13      S14          Balu        BaS14
14      S15  Shitalakshya         SS15
15      S16  Shitalakshya         SS16
16      S17  Shitalakshya         SS17

In [35]:
igeo["Station"],igeo["Location"],igeo["Station ID"] = stations["Stations"], stations["Location"], stations["Station_Code"]
igeo

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,Station ID
0,-0.341023,-0.542474,-1.570187,-2.410895,0.051437,-0.742676,-1.096368,-1.292634,3.299310,2.563429,1.819668,0.757877,S1,Dhaleshwari,DS1
1,-0.372497,-0.610841,-1.912204,-2.567250,0.154310,-0.699692,-0.499852,-0.980891,3.085576,2.722466,1.680174,0.374808,S2,Dhaleshwari,DS2
2,-0.588654,-1.012450,-0.781735,-1.442837,0.075571,-0.448334,0.424440,-0.333069,2.712718,2.222392,1.366625,0.128293,S3,Dhaleshwari,DS3
3,-0.915936,-1.280841,-1.052719,-1.967553,0.452068,0.047719,0.378512,-0.055045,2.390790,1.991963,1.592636,0.532733,S4,Dhaleshwari,DS4
4,-0.430797,-1.065588,-1.009081,-1.736023,0.570211,0.116759,0.540892,0.104165,2.222392,1.688056,1.398715,0.835924,S5,Dhaleshwari,DS5
5,-0.647200,-1.161534,-2.128929,-3.121525,1.486495,0.542010,-0.457583,-0.904119,1.736966,0.865699,1.080430,0.336474,S6,Dhaleshwari,DS6
6,-0.355306,-0.960576,-2.201238,-2.770352,0.733499,0.518927,0.132113,0.027844,1.595610,1.108060,0.434739,0.157906,S7,Dhaleshwari,DS7
7,-2.891742,-3.104123,-0.329551,-1.323343,0.569779,0.130101,-0.636937,-0.779511,3.035624,2.269698,2.960203,1.709291,S8,Turag,TS8
8,-2.975838,-3.405522,-0.259305,-1.371204,0.646197,0.369441,-0.454538,-0.855117,3.513771,3.000000,3.059528,2.505891,S9,Turag,TS9
9,-3.315530,-3.600434,-0.824679,-1.117530,0.547432,0.259111,0.027118,-0.045088,2.688056,2.632268,2.859970,1.855990,S10,Turag,TS10
10,-0.533010,-0.858228,-0.509933,-1.030301,1.393803,1.066823,-0.606204,-0.980891,3.979822,3.627088,3.110475,2.372952,S11,Buriganga,BuS11
11,-0.192950,-0.636860,-0.364086,-0.868165,1.951643,1.131663,-1.065072,-1.289013,4.337870,4.141142,3.309370,2.568032,S12,Buriganga,BuS12
12,-2.980048,-3.702472,-1.371935,-1.778578,0.154886,-0.257403,-1.380437,-1.547715,2.359896,2.122857,1.095362,0.262233,S13,Balu,BaS13
13,-3.387516,-3.838029,-1.984245,-2.216934,0.237337,-0.329697,-1.192856,-1.498806,1.765535,1.353637,0.995183,0.069473,S14,Balu,BaS14
14,-0.754347,-1.393961,-1.859927,-2.603755,0.640175,0.090904,0.084762,-0.311791,4.339454,4.273018,1.691087,1.350874,S15,Shitalakshya,SS15
15,-1.119597,-1.728087,-0.518215,-1.144479,0.774684,0.342049,0.024211,-0.486315,5.052145,4.496832,2.665999,1.714722,S16,Shitalakshya,SS16
16,-1.199071,-1.590745,-0.552862,-1.010505,1.326537,0.436201,0.158867,-0.299902,4.818760,4.387730,2.811814,1.669632,S17,Shitalakshya,SS17

In [36]:
%pwd

'/home/RHHLab/Bucket/Research/Shitalakshya/Python'

In [37]:
igeo.to_csv("Igeo.csv", sep=",")
igeo.to_excel("Igeo.xlsx")

In [38]:
%ls

data.csv  Igeo.csv  Igeo.xlsx  sample.ipynb  stations.csv

## CF CD PLI

In [39]:
background_values

  Elements       Bm
0       Cr     90.0
1       Ni     68.0
2       Cu     45.0
3       As     13.0
4       Cd      0.3
5       Pb     20.0
6       Fe  30890.0

In [40]:
cf_CrR = []
cf_CrW = []

cf_NiR = []
cf_NiW = []

cf_CuR = []
cf_CuW = []

cf_AsR = []
cf_AsW = []

cf_CdR = []
cf_CdW = []

cf_PbR = []
cf_PbW = []

i= 0
while i < len(df["CrW"]):
    val = df["CrW"][i]/ background_values["Bm"][0]
    cf_CrW.append(val)
    
    val = df["CrR"][i]/ background_values["Bm"][0]
    cf_CrR.append(val)
    
    val = df["NiR"][i]/ background_values["Bm"][1]
    cf_NiR.append(val)
    
    val = df["NiW"][i]/ background_values["Bm"][1]
    cf_NiW.append(val)
    
    val = df["CuW"][i]/ background_values["Bm"][2]
    cf_CuW.append(val)
    
    val = df["CuR"][i]/ background_values["Bm"][2]
    cf_CuR.append(val)
    
    val = df["AsR"][i]/ background_values["Bm"][3]
    cf_AsR.append(val)
    
    val = df["AsW"][i]/ background_values["Bm"][3]
    cf_AsW.append(val)
    
    val = df["CdW"][i]/ background_values["Bm"][4]
    cf_CdW.append(val)
    
    val = df["CdR"][i]/ background_values["Bm"][4]
    cf_CdR.append(val)
    
    val = df["PbR"][i]/ background_values["Bm"][5]
    cf_PbR.append(val)
    
    val = df["PbW"][i]/ background_values["Bm"][5]
    cf_PbW.append(val)
    
    
    
    i+=1

In [48]:
cf = pd.DataFrame({
    "CrW": cf_CrW,
    "CrR": cf_CrR,
    "NiW": cf_NiW,
    "NiR": cf_NiR,
    "CuW": cf_CuW,
    "CuR": cf_CuR,
    "AsW": cf_AsW,
    "AsR": cf_AsR,
    "CdW": cf_CdW,
    "CdR": cf_CdR,
    "PbW": cf_PbW,
    "PbR": cf_PbR
    
})

cf

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
0,1.184222,1.029889,0.505147,0.282059,1.554444,0.896444,0.701538,0.612308,14.766667,8.866667,5.2950,2.5365
1,1.158667,0.982222,0.398529,0.253088,1.669333,0.923556,1.060769,0.760000,12.733333,9.900000,4.8070,1.9450
2,0.997444,0.743556,0.872500,0.551765,1.580667,1.099333,2.013077,1.190769,9.833333,7.000000,3.8680,1.6395
3,0.795000,0.617333,0.723088,0.383529,2.052000,1.550444,1.950000,1.443846,7.866667,5.966667,4.5240,2.1700
4,1.112778,0.716667,0.745294,0.450294,2.227111,1.626444,2.182308,1.612308,7.000000,4.833333,3.9550,2.6775
5,0.957778,0.670556,0.342941,0.172353,4.203111,2.184000,1.092308,0.801538,5.000000,2.733333,3.1720,1.8940
6,1.172556,0.770778,0.326176,0.219853,2.494000,2.149333,1.643846,1.529231,4.533333,3.233333,2.0275,1.6735
7,0.202111,0.174444,1.193676,0.599412,2.226444,1.641556,0.964615,0.873846,12.300000,7.233333,11.6735,4.9050
8,0.190667,0.141556,1.253235,0.579853,2.347556,1.937778,1.094615,0.829231,17.133333,12.000000,12.5055,8.5200
9,0.150667,0.123667,0.846912,0.691324,2.192222,1.795111,1.528462,1.453846,9.666667,9.300000,10.8900,5.4300
10,1.036667,0.827444,1.053382,0.734412,3.941556,3.142222,0.985385,0.760000,23.666667,18.533333,12.9550,7.7700
11,1.312222,0.964667,1.165441,0.821765,5.802222,3.286667,0.716923,0.613846,30.333333,26.466667,14.8700,8.8950
12,0.190111,0.115222,0.579559,0.437206,1.670000,1.254889,0.576154,0.513077,7.700000,6.533333,3.2050,1.7990
13,0.143333,0.104889,0.379118,0.322647,1.768222,1.193556,0.656154,0.530769,5.100000,3.833333,2.9900,1.5740
14,0.889222,0.570778,0.413235,0.246765,2.337778,1.597556,1.590769,1.208462,30.366667,29.000000,4.8435,3.8260
15,0.690333,0.452778,1.047353,0.678529,2.566222,1.901333,1.525385,1.070769,49.766667,33.866667,9.5200,4.9235
16,0.653333,0.498000,1.022500,0.744559,3.762000,2.029556,1.674615,1.218462,42.333333,31.400000,10.5325,4.7720

In [49]:
cf.describe()

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,0.755124,0.559085,0.756946,0.480554,2.611464,1.777046,1.291584,1.001312,17.064706,12.982353,7.154912,3.938265
std,0.422494,0.324717,0.326970,0.210526,1.156966,0.673292,0.508981,0.366307,13.641906,10.592982,4.261341,2.506180
min,0.143333,0.104889,0.326176,0.172353,1.554444,0.896444,0.576154,0.513077,4.533333,2.733333,2.027500,1.574000
25%,0.202111,0.174444,0.413235,0.282059,1.768222,1.254889,0.964615,0.760000,7.700000,5.966667,3.868000,1.894000
50%,0.889222,0.617333,0.745294,0.450294,2.227111,1.641556,1.094615,0.873846,12.300000,8.866667,4.843500,2.677500
75%,1.112778,0.770778,1.047353,0.678529,2.566222,2.029556,1.643846,1.218462,23.666667,18.533333,10.890000,4.923500
max,1.312222,1.029889,1.253235,0.821765,5.802222,3.286667,2.182308,1.612308,49.766667,33.866667,14.870000,8.895000

In [50]:
cf["Station"],cf["Location"],cf["Station_ID"] = stations["Stations"], stations["Location"], stations["Station_Code"]
cf

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,Station_ID
0,1.184222,1.029889,0.505147,0.282059,1.554444,0.896444,0.701538,0.612308,14.766667,8.866667,5.2950,2.5365,S1,Dhaleshwari,DS1
1,1.158667,0.982222,0.398529,0.253088,1.669333,0.923556,1.060769,0.760000,12.733333,9.900000,4.8070,1.9450,S2,Dhaleshwari,DS2
2,0.997444,0.743556,0.872500,0.551765,1.580667,1.099333,2.013077,1.190769,9.833333,7.000000,3.8680,1.6395,S3,Dhaleshwari,DS3
3,0.795000,0.617333,0.723088,0.383529,2.052000,1.550444,1.950000,1.443846,7.866667,5.966667,4.5240,2.1700,S4,Dhaleshwari,DS4
4,1.112778,0.716667,0.745294,0.450294,2.227111,1.626444,2.182308,1.612308,7.000000,4.833333,3.9550,2.6775,S5,Dhaleshwari,DS5
5,0.957778,0.670556,0.342941,0.172353,4.203111,2.184000,1.092308,0.801538,5.000000,2.733333,3.1720,1.8940,S6,Dhaleshwari,DS6
6,1.172556,0.770778,0.326176,0.219853,2.494000,2.149333,1.643846,1.529231,4.533333,3.233333,2.0275,1.6735,S7,Dhaleshwari,DS7
7,0.202111,0.174444,1.193676,0.599412,2.226444,1.641556,0.964615,0.873846,12.300000,7.233333,11.6735,4.9050,S8,Turag,TS8
8,0.190667,0.141556,1.253235,0.579853,2.347556,1.937778,1.094615,0.829231,17.133333,12.000000,12.5055,8.5200,S9,Turag,TS9
9,0.150667,0.123667,0.846912,0.691324,2.192222,1.795111,1.528462,1.453846,9.666667,9.300000,10.8900,5.4300,S10,Turag,TS10
10,1.036667,0.827444,1.053382,0.734412,3.941556,3.142222,0.985385,0.760000,23.666667,18.533333,12.9550,7.7700,S11,Buriganga,BuS11
11,1.312222,0.964667,1.165441,0.821765,5.802222,3.286667,0.716923,0.613846,30.333333,26.466667,14.8700,8.8950,S12,Buriganga,BuS12
12,0.190111,0.115222,0.579559,0.437206,1.670000,1.254889,0.576154,0.513077,7.700000,6.533333,3.2050,1.7990,S13,Balu,BaS13
13,0.143333,0.104889,0.379118,0.322647,1.768222,1.193556,0.656154,0.530769,5.100000,3.833333,2.9900,1.5740,S14,Balu,BaS14
14,0.889222,0.570778,0.413235,0.246765,2.337778,1.597556,1.590769,1.208462,30.366667,29.000000,4.8435,3.8260,S15,Shitalakshya,SS15
15,0.690333,0.452778,1.047353,0.678529,2.566222,1.901333,1.525385,1.070769,49.766667,33.866667,9.5200,4.9235,S16,Shitalakshya,SS16
16,0.653333,0.498000,1.022500,0.744559,3.762000,2.029556,1.674615,1.218462,42.333333,31.400000,10.5325,4.7720,S17,Shitalakshya,SS17

In [54]:
cdR = []
cdW = []

i= 0
while i < len(df["CrW"]):
    val = cf_CrW[i] + cf_NiW[i] + cf_CuW[i] + cf_AsW[i] + cf_CdW[i] + cf_PbW[i]  
    cdW.append(val)
    
    val = cf_CrR[i] + cf_NiR[i] + cf_CuR[i] + cf_AsR[i] + cf_CdR[i] + cf_PbR[i]  
    cdR.append(val)

    i+=1 

cdR,cdW

([14.223866515837106,
  14.763866013071897,
  12.224922825540473,
  12.131820010055304,
  11.916546254399195,
  8.455780291603821,
  9.576028154851684,
  15.427591251885369,
  24.00841704374057,
  18.793947461035696,
  31.76741176470588,
  41.04861085972851,
  10.652727249874308,
  7.559194067370537,
  36.44955957767723,
  42.89357642031171,
  40.662575917546505],
 [24.00701885369532,
  21.82763197586727,
  19.165021367521366,
  17.910754901960786,
  17.22249069884364,
  14.76813775766717,
  12.197411513323278,
  28.560347410759174,
  34.52490623428859,
  25.274928858722976,
  43.63865585721469,
  54.20014203117144,
  13.92082378079437,
  11.036827048768226,
  40.44117119155354,
  65.1159597787833,
  59.97828205128205])

In [51]:
cf["CD_Winter"], cf["CD_Rainy"] = cdW, cdR

In [52]:
cf

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,Station_ID,CD_Winter,CD_Rainy
0,1.184222,1.029889,0.505147,0.282059,1.554444,0.896444,0.701538,0.612308,14.766667,8.866667,5.2950,2.5365,S1,Dhaleshwari,DS1,24.007019,14.223867
1,1.158667,0.982222,0.398529,0.253088,1.669333,0.923556,1.060769,0.760000,12.733333,9.900000,4.8070,1.9450,S2,Dhaleshwari,DS2,21.827632,14.763866
2,0.997444,0.743556,0.872500,0.551765,1.580667,1.099333,2.013077,1.190769,9.833333,7.000000,3.8680,1.6395,S3,Dhaleshwari,DS3,19.165021,12.224923
3,0.795000,0.617333,0.723088,0.383529,2.052000,1.550444,1.950000,1.443846,7.866667,5.966667,4.5240,2.1700,S4,Dhaleshwari,DS4,17.910755,12.131820
4,1.112778,0.716667,0.745294,0.450294,2.227111,1.626444,2.182308,1.612308,7.000000,4.833333,3.9550,2.6775,S5,Dhaleshwari,DS5,17.222491,11.916546
5,0.957778,0.670556,0.342941,0.172353,4.203111,2.184000,1.092308,0.801538,5.000000,2.733333,3.1720,1.8940,S6,Dhaleshwari,DS6,14.768138,8.455780
6,1.172556,0.770778,0.326176,0.219853,2.494000,2.149333,1.643846,1.529231,4.533333,3.233333,2.0275,1.6735,S7,Dhaleshwari,DS7,12.197412,9.576028
7,0.202111,0.174444,1.193676,0.599412,2.226444,1.641556,0.964615,0.873846,12.300000,7.233333,11.6735,4.9050,S8,Turag,TS8,28.560347,15.427591
8,0.190667,0.141556,1.253235,0.579853,2.347556,1.937778,1.094615,0.829231,17.133333,12.000000,12.5055,8.5200,S9,Turag,TS9,34.524906,24.008417
9,0.150667,0.123667,0.846912,0.691324,2.192222,1.795111,1.528462,1.453846,9.666667,9.300000,10.8900,5.4300,S10,Turag,TS10,25.274929,18.793947
10,1.036667,0.827444,1.053382,0.734412,3.941556,3.142222,0.985385,0.760000,23.666667,18.533333,12.9550,7.7700,S11,Buriganga,BuS11,43.638656,31.767412
11,1.312222,0.964667,1.165441,0.821765,5.802222,3.286667,0.716923,0.613846,30.333333,26.466667,14.8700,8.8950,S12,Buriganga,BuS12,54.200142,41.048611
12,0.190111,0.115222,0.579559,0.437206,1.670000,1.254889,0.576154,0.513077,7.700000,6.533333,3.2050,1.7990,S13,Balu,BaS13,13.920824,10.652727
13,0.143333,0.104889,0.379118,0.322647,1.768222,1.193556,0.656154,0.530769,5.100000,3.833333,2.9900,1.5740,S14,Balu,BaS14,11.036827,7.559194
14,0.889222,0.570778,0.413235,0.246765,2.337778,1.597556,1.590769,1.208462,30.366667,29.000000,4.8435,3.8260,S15,Shitalakshya,SS15,40.441171,36.449560
15,0.690333,0.452778,1.047353,0.678529,2.566222,1.901333,1.525385,1.070769,49.766667,33.866667,9.5200,4.9235,S16,Shitalakshya,SS16,65.115960,42.893576
16,0.653333,0.498000,1.022500,0.744559,3.762000,2.029556,1.674615,1.218462,42.333333,31.400000,10.5325,4.7720,S17,Shitalakshya,SS17,59.978282,40.662576

In [61]:
PLI = []

i= 0
while i < len(df["CrW"]):
    val = (cf_CrW[i] * cf_NiW[i] * cf_CuW[i] * cf_AsW[i] * cf_CdW[i] * cf_PbW[i])**(1/6)  
    PLI.append(val)
    
    i+=1 

PLI

[1.925769749286074,
 1.9196991981369553,
 2.173153184229437,
 2.0837580443060926,
 2.194184227798313,
 1.697398859204537,
 1.5599847957261985,
 2.0508072535208814,
 2.25521502920921,
 1.8860354141695947,
 3.3037881082253535,
 3.769634947957367,
 1.1738513929219303,
 0.993461057899264,
 2.420262238306666,
 3.320729530412663,
 3.512025462207722]

In [57]:
cf["PLI"] = PLI

In [58]:
cf

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,Station_ID,CD_Winter,CD_Rainy,PLI
0,1.184222,1.029889,0.505147,0.282059,1.554444,0.896444,0.701538,0.612308,14.766667,8.866667,5.2950,2.5365,S1,Dhaleshwari,DS1,24.007019,14.223867,1.925770
1,1.158667,0.982222,0.398529,0.253088,1.669333,0.923556,1.060769,0.760000,12.733333,9.900000,4.8070,1.9450,S2,Dhaleshwari,DS2,21.827632,14.763866,1.919699
2,0.997444,0.743556,0.872500,0.551765,1.580667,1.099333,2.013077,1.190769,9.833333,7.000000,3.8680,1.6395,S3,Dhaleshwari,DS3,19.165021,12.224923,2.173153
3,0.795000,0.617333,0.723088,0.383529,2.052000,1.550444,1.950000,1.443846,7.866667,5.966667,4.5240,2.1700,S4,Dhaleshwari,DS4,17.910755,12.131820,2.083758
4,1.112778,0.716667,0.745294,0.450294,2.227111,1.626444,2.182308,1.612308,7.000000,4.833333,3.9550,2.6775,S5,Dhaleshwari,DS5,17.222491,11.916546,2.194184
5,0.957778,0.670556,0.342941,0.172353,4.203111,2.184000,1.092308,0.801538,5.000000,2.733333,3.1720,1.8940,S6,Dhaleshwari,DS6,14.768138,8.455780,1.697399
6,1.172556,0.770778,0.326176,0.219853,2.494000,2.149333,1.643846,1.529231,4.533333,3.233333,2.0275,1.6735,S7,Dhaleshwari,DS7,12.197412,9.576028,1.559985
7,0.202111,0.174444,1.193676,0.599412,2.226444,1.641556,0.964615,0.873846,12.300000,7.233333,11.6735,4.9050,S8,Turag,TS8,28.560347,15.427591,2.050807
8,0.190667,0.141556,1.253235,0.579853,2.347556,1.937778,1.094615,0.829231,17.133333,12.000000,12.5055,8.5200,S9,Turag,TS9,34.524906,24.008417,2.255215
9,0.150667,0.123667,0.846912,0.691324,2.192222,1.795111,1.528462,1.453846,9.666667,9.300000,10.8900,5.4300,S10,Turag,TS10,25.274929,18.793947,1.886035
10,1.036667,0.827444,1.053382,0.734412,3.941556,3.142222,0.985385,0.760000,23.666667,18.533333,12.9550,7.7700,S11,Buriganga,BuS11,43.638656,31.767412,3.303788
11,1.312222,0.964667,1.165441,0.821765,5.802222,3.286667,0.716923,0.613846,30.333333,26.466667,14.8700,8.8950,S12,Buriganga,BuS12,54.200142,41.048611,3.769635
12,0.190111,0.115222,0.579559,0.437206,1.670000,1.254889,0.576154,0.513077,7.700000,6.533333,3.2050,1.7990,S13,Balu,BaS13,13.920824,10.652727,1.173851
13,0.143333,0.104889,0.379118,0.322647,1.768222,1.193556,0.656154,0.530769,5.100000,3.833333,2.9900,1.5740,S14,Balu,BaS14,11.036827,7.559194,0.993461
14,0.889222,0.570778,0.413235,0.246765,2.337778,1.597556,1.590769,1.208462,30.366667,29.000000,4.8435,3.8260,S15,Shitalakshya,SS15,40.441171,36.449560,2.420262
15,0.690333,0.452778,1.047353,0.678529,2.566222,1.901333,1.525385,1.070769,49.766667,33.866667,9.5200,4.9235,S16,Shitalakshya,SS16,65.115960,42.893576,3.320730
16,0.653333,0.498000,1.022500,0.744559,3.762000,2.029556,1.674615,1.218462,42.333333,31.400000,10.5325,4.7720,S17,Shitalakshya,SS17,59.978282,40.662576,3.512025

In [59]:
cf.to_csv("CF.csv", sep=",")
cf.to_excel("CF.xlsx")

### EF

In [62]:
background_values

  Elements       Bm
0       Cr     90.0
1       Ni     68.0
2       Cu     45.0
3       As     13.0
4       Cd      0.3
5       Pb     20.0
6       Fe  30890.0

In [65]:
fe_conc = pd.read_csv("fe_conc.csv")

In [66]:
fe_conc

   Stations        Location  Winter  Rainy
0        S1   (Dhaleshwari)   29400  26700
1        S2   (Dhaleshwari)   32100  34970
2        S3   (Dhaleshwari)   27970  23970
3        S4   (Dhaleshwari)   25780  23990
4        S5   (Dhaleshwari)   36480  35130
5        S6   (Dhaleshwari)   35130  38700
6        S7   (Dhaleshwari)   38900  43480
7        S8         (Turag)   44210  45600
8        S9         (Turag)   43980  47900
9       S10         (Turag)   47390  50395
10      S11     (Buriganga)   40100  42650
11      S12     (Buriganga)   44600  46870
12      S13          (Balu)   30460  32700
13      S14          (Balu)   31790  26320
14      S15  (Shitalakshya)   33460  30790
15      S16  (Shitalakshya)   34100  36500
16      S17  (Shitalakshya)   26710  25110

In [68]:
ef_CrR = []
ef_CrW = []

ef_NiR = []
ef_NiW = []

ef_CuR = []
ef_CuW = []

ef_AsR = []
ef_AsW = []

ef_CdR = []
ef_CdW = []

ef_PbR = []
ef_PbW = []

i= 0
while i < len(df["CrW"]):
    val = (df["CrW"][i] / fe_conc["Winter"][i]) / (background_values["Bm"][0]/background_values["Bm"][6])
    ef_CrW.append(val)
    
    val = (df["CrR"][i] / fe_conc["Rainy"][i]) / (background_values["Bm"][0]/background_values["Bm"][6])
    ef_CrR.append(val)
    
    val = (df["NiR"][i] / fe_conc["Rainy"][i]) / (background_values["Bm"][1]/background_values["Bm"][6])
    ef_NiR.append(val)
    
    val = (df["NiW"][i] / fe_conc["Winter"][i]) / (background_values["Bm"][1]/background_values["Bm"][6])
    ef_NiW.append(val)
    
    val = (df["CuW"][i] / fe_conc["Winter"][i]) / (background_values["Bm"][2]/background_values["Bm"][6])
    ef_CuW.append(val)
    
    val = (df["CuR"][i] / fe_conc["Rainy"][i]) / (background_values["Bm"][2]/background_values["Bm"][6])
    ef_CuR.append(val)
    
    val = (df["AsR"][i] / fe_conc["Rainy"][i]) / (background_values["Bm"][3]/background_values["Bm"][6])
    ef_AsR.append(val)
    
    val = (df["AsW"][i] / fe_conc["Winter"][i]) / (background_values["Bm"][3]/background_values["Bm"][6])
    ef_AsW.append(val)
    
    val = (df["CdW"][i] / fe_conc["Winter"][i]) / (background_values["Bm"][4]/background_values["Bm"][6])
    ef_CdW.append(val)
    
    val = (df["CdR"][i] / fe_conc["Rainy"][i]) / (background_values["Bm"][4]/background_values["Bm"][6])
    ef_CdR.append(val)
    
    val = (df["PbR"][i] / fe_conc["Rainy"][i]) / (background_values["Bm"][5]/background_values["Bm"][6])
    ef_PbR.append(val)
    
    val = (df["PbW"][i] / fe_conc["Winter"][i]) / (background_values["Bm"][5]/background_values["Bm"][6])
    ef_PbW.append(val)
    
    
    
    i+=1

In [70]:
ef_AsR

[0.708396427542495,
 0.6713297111810124,
 1.534537402522384,
 1.8591249559111167,
 1.4177109198800062,
 0.6397809580600278,
 1.0864291274502864,
 0.5919541160593792,
 0.5347586317648948,
 0.8911460996588488,
 0.5504431418522862,
 0.40455958379150186,
 0.48467725241119736,
 0.6229278700023381,
 1.2123863891872988,
 0.9061934668071655,
 1.498935759580921]

In [69]:
ef = pd.DataFrame({
    "CrW": ef_CrW,
    "CrR": ef_CrR,
    "NiW": ef_NiW,
    "NiR": ef_NiR,
    "CuW": ef_CuW,
    "CuR": ef_CuR,
    "AsW": ef_AsW,
    "AsR": ef_AsR,
    "CdW": ef_CdW,
    "CdR": ef_CdR,
    "PbW": ef_PbW,
    "PbR": ef_PbR
    
})

ef

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
0,1.244239,1.191508,0.530748,0.326322,1.633224,1.037122,0.737093,0.708396,15.515045,10.258102,5.563352,2.934550
1,1.114991,0.867625,0.383507,0.223560,1.606408,0.815803,1.020784,0.671330,12.253354,8.744953,4.625802,1.718074
2,1.101575,0.958216,0.963587,0.711056,1.745684,1.416704,2.223237,1.534537,10.859909,9.020859,4.271810,2.112814
3,0.952581,0.794891,0.866416,0.493840,2.458739,1.996383,2.336521,1.859125,9.425963,7.682798,5.420728,2.794135
4,0.942262,0.630169,0.631089,0.395946,1.885841,1.430141,1.847903,1.417711,5.927357,4.249976,3.348957,2.354340
5,0.842179,0.535232,0.301550,0.137571,3.695818,1.743250,0.960472,0.639781,4.396527,2.181723,2.789157,1.511774
6,0.931112,0.547593,0.259013,0.156193,1.980454,1.526976,1.305358,1.086429,3.599863,2.297094,1.610012,1.188924
7,0.141217,0.118171,0.834035,0.406049,1.555641,1.112010,0.673987,0.591954,8.594142,4.899949,8.156399,3.322707
8,0.133918,0.091287,0.880228,0.373939,1.648840,1.249644,0.768819,0.534759,12.033849,7.738622,8.783422,5.494422
9,0.098208,0.075802,0.552038,0.423752,1.428946,1.100327,0.996290,0.891146,6.300978,5.700506,7.098377,3.328360
10,0.798569,0.599291,0.811446,0.531910,3.036276,2.275809,0.759066,0.550443,18.231006,13.423087,9.979550,5.627557
11,0.908846,0.635770,0.807186,0.541590,4.018624,2.166101,0.496542,0.404560,21.008894,17.443041,10.298975,5.862312
12,0.192795,0.108844,0.587740,0.413006,1.693575,1.185429,0.584287,0.484677,7.808700,6.171702,3.250245,1.699422
13,0.139275,0.123101,0.368385,0.378669,1.718162,1.400795,0.637578,0.622928,4.955615,4.498924,2.905351,1.847297
14,0.820923,0.572632,0.381495,0.247566,2.158217,1.602744,1.468585,1.212386,28.034260,29.094186,4.471480,3.838426
15,0.625349,0.383186,0.948760,0.574240,2.324651,1.609101,1.381793,0.906193,45.081887,28.661406,8.623836,4.166765
16,0.755577,0.612633,1.182517,0.915947,4.350737,2.496733,1.936685,1.498936,48.958318,38.627877,12.180791,5.870453

In [71]:
ef.describe()

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,0.690801,0.520350,0.664102,0.426539,2.290579,1.539122,1.184412,0.918547,15.469745,11.805577,6.081073,3.274843
std,0.392705,0.332735,0.271228,0.196473,0.923433,0.468890,0.591920,0.438594,13.531477,10.606916,3.106265,1.619406
min,0.098208,0.075802,0.259013,0.137571,1.428946,0.815803,0.496542,0.404560,3.599863,2.181723,1.610012,1.188924
25%,0.192795,0.123101,0.383507,0.326322,1.648840,1.185429,0.737093,0.591954,6.300978,4.899949,3.348957,1.847297
50%,0.820923,0.572632,0.631089,0.406049,1.885841,1.430141,0.996290,0.708396,10.859909,7.738622,5.420728,2.934550
75%,0.942262,0.635770,0.866416,0.531910,2.458739,1.743250,1.468585,1.212386,18.231006,13.423087,8.623836,4.166765
max,1.244239,1.191508,1.182517,0.915947,4.350737,2.496733,2.336521,1.859125,48.958318,38.627877,12.180791,5.870453

In [72]:
ef["Station"],ef["Location"],ef["Station_ID"] = stations["Stations"], stations["Location"], stations["Station_Code"]
ef

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,Station,Location,Station_ID
0,1.244239,1.191508,0.530748,0.326322,1.633224,1.037122,0.737093,0.708396,15.515045,10.258102,5.563352,2.934550,S1,Dhaleshwari,DS1
1,1.114991,0.867625,0.383507,0.223560,1.606408,0.815803,1.020784,0.671330,12.253354,8.744953,4.625802,1.718074,S2,Dhaleshwari,DS2
2,1.101575,0.958216,0.963587,0.711056,1.745684,1.416704,2.223237,1.534537,10.859909,9.020859,4.271810,2.112814,S3,Dhaleshwari,DS3
3,0.952581,0.794891,0.866416,0.493840,2.458739,1.996383,2.336521,1.859125,9.425963,7.682798,5.420728,2.794135,S4,Dhaleshwari,DS4
4,0.942262,0.630169,0.631089,0.395946,1.885841,1.430141,1.847903,1.417711,5.927357,4.249976,3.348957,2.354340,S5,Dhaleshwari,DS5
5,0.842179,0.535232,0.301550,0.137571,3.695818,1.743250,0.960472,0.639781,4.396527,2.181723,2.789157,1.511774,S6,Dhaleshwari,DS6
6,0.931112,0.547593,0.259013,0.156193,1.980454,1.526976,1.305358,1.086429,3.599863,2.297094,1.610012,1.188924,S7,Dhaleshwari,DS7
7,0.141217,0.118171,0.834035,0.406049,1.555641,1.112010,0.673987,0.591954,8.594142,4.899949,8.156399,3.322707,S8,Turag,TS8
8,0.133918,0.091287,0.880228,0.373939,1.648840,1.249644,0.768819,0.534759,12.033849,7.738622,8.783422,5.494422,S9,Turag,TS9
9,0.098208,0.075802,0.552038,0.423752,1.428946,1.100327,0.996290,0.891146,6.300978,5.700506,7.098377,3.328360,S10,Turag,TS10
10,0.798569,0.599291,0.811446,0.531910,3.036276,2.275809,0.759066,0.550443,18.231006,13.423087,9.979550,5.627557,S11,Buriganga,BuS11
11,0.908846,0.635770,0.807186,0.541590,4.018624,2.166101,0.496542,0.404560,21.008894,17.443041,10.298975,5.862312,S12,Buriganga,BuS12
12,0.192795,0.108844,0.587740,0.413006,1.693575,1.185429,0.584287,0.484677,7.808700,6.171702,3.250245,1.699422,S13,Balu,BaS13
13,0.139275,0.123101,0.368385,0.378669,1.718162,1.400795,0.637578,0.622928,4.955615,4.498924,2.905351,1.847297,S14,Balu,BaS14
14,0.820923,0.572632,0.381495,0.247566,2.158217,1.602744,1.468585,1.212386,28.034260,29.094186,4.471480,3.838426,S15,Shitalakshya,SS15
15,0.625349,0.383186,0.948760,0.574240,2.324651,1.609101,1.381793,0.906193,45.081887,28.661406,8.623836,4.166765,S16,Shitalakshya,SS16
16,0.755577,0.612633,1.182517,0.915947,4.350737,2.496733,1.936685,1.498936,48.958318,38.627877,12.180791,5.870453,S17,Shitalakshya,SS17

In [73]:
ef.to_csv("EF.csv", sep=",")
ef.to_excel("EF.xlsx")

## E and RI

In [74]:
background_values

  Elements       Bm
0       Cr     90.0
1       Ni     68.0
2       Cu     45.0
3       As     13.0
4       Cd      0.3
5       Pb     20.0
6       Fe  30890.0

In [78]:
acc_factor = df["PbR"]/background_values["Bm"][5]
acc_factor

0     2.5365
1     1.9450
2     1.6395
3     2.1700
4     2.6775
5     1.8940
6     1.6735
7     4.9050
8     8.5200
9     5.4300
10    7.7700
11    8.8950
12    1.7990
13    1.5740
14    3.8260
15    4.9235
16    4.7720
Name: PbR, dtype: float64

In [81]:
trv = pd.DataFrame({
    "Elements": ["Cr", "Ni", "Cu", "As", "Cd", "Pb"],
    "trv" : [26, 16, 16, 6, 0.6, 31]
})

In [82]:
trv

  Elements   trv
0       Cr  26.0
1       Ni  16.0
2       Cu  16.0
3       As   6.0
4       Cd   0.6
5       Pb  31.0

In [83]:
er_CrW = trv["trv"][0]* (df["CrW"]/background_values["Bm"][0])
er_CrR = trv["trv"][0]* (df["CrR"]/background_values["Bm"][0])

er_NiW = trv["trv"][1]* (df["NiW"]/background_values["Bm"][1])
er_NiR = trv["trv"][1]* (df["NiR"]/background_values["Bm"][1])

er_CuW = trv["trv"][2]* (df["CuW"]/background_values["Bm"][2])
er_CuR = trv["trv"][2]* (df["CuR"]/background_values["Bm"][2])

er_AsW = trv["trv"][3]* (df["AsW"]/background_values["Bm"][3])
er_AsR = trv["trv"][3]* (df["AsR"]/background_values["Bm"][3])

er_CdW = trv["trv"][4]* (df["CdW"]/background_values["Bm"][4])
er_CdR = trv["trv"][4]* (df["CdR"]/background_values["Bm"][4])

er_PbW = trv["trv"][5]* (df["PbW"]/background_values["Bm"][5])
er_PbR = trv["trv"][5]* (df["PbR"]/background_values["Bm"][5])

In [84]:
er = pd.DataFrame({
    "CrW": er_CrW,
    "CrR": er_CrR,
    "NiW": er_NiW,
    "NiR": er_NiR,
    "CuW": er_CuW,
    "CuR": er_CuR,
    "AsW": er_AsW,
    "AsR": er_AsR,
    "CdW": er_CdW,
    "CdR": er_CdR,
    "PbW": er_PbW,
    "PbR": er_PbR
    
})

er

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR
0,30.789778,26.777111,8.082353,4.512941,24.871111,14.343111,4.209231,3.673846,8.86,5.32,164.1450,78.6315
1,30.125333,25.537778,6.376471,4.049412,26.709333,14.776889,6.364615,4.560000,7.64,5.94,149.0170,60.2950
2,25.933556,19.332444,13.960000,8.828235,25.290667,17.589333,12.078462,7.144615,5.90,4.20,119.9080,50.8245
3,20.670000,16.050667,11.569412,6.136471,32.832000,24.807111,11.700000,8.663077,4.72,3.58,140.2440,67.2700
4,28.932222,18.633333,11.924706,7.204706,35.633778,26.023111,13.093846,9.673846,4.20,2.90,122.6050,83.0025
5,24.902222,17.434444,5.487059,2.757647,67.249778,34.944000,6.553846,4.809231,3.00,1.64,98.3320,58.7140
6,30.486444,20.040222,5.218824,3.517647,39.904000,34.389333,9.863077,9.175385,2.72,1.94,62.8525,51.8785
7,5.254889,4.535556,19.098824,9.590588,35.623111,26.264889,5.787692,5.243077,7.38,4.34,361.8785,152.0550
8,4.957333,3.680444,20.051765,9.277647,37.560889,31.004444,6.567692,4.975385,10.28,7.20,387.6705,264.1200
9,3.917333,3.215333,13.550588,11.061176,35.075556,28.721778,9.170769,8.723077,5.80,5.58,337.5900,168.3300
10,26.953333,21.513556,16.854118,11.750588,63.064889,50.275556,5.912308,4.560000,14.20,11.12,401.6050,240.8700
11,34.117778,25.081333,18.647059,13.148235,92.835556,52.586667,4.301538,3.683077,18.20,15.88,460.9700,275.7450
12,4.942889,2.995778,9.272941,6.995294,26.720000,20.078222,3.456923,3.078462,4.62,3.92,99.3550,55.7690
13,3.726667,2.727111,6.065882,5.162353,28.291556,19.096889,3.936923,3.184615,3.06,2.30,92.6900,48.7940
14,23.119778,14.840222,6.611765,3.948235,37.404444,25.560889,9.544615,7.250769,18.22,17.40,150.1485,118.6060
15,17.948667,11.772222,16.757647,10.856471,41.059556,30.421333,9.152308,6.424615,29.86,20.32,295.1200,152.6285
16,16.986667,12.948000,16.360000,11.912941,60.192000,32.472889,10.047692,7.310769,25.40,18.84,326.5075,147.9320

In [90]:
RIW = er_CrW + er_NiW + er_CuW + er_AsW + er_CdW + er_PbW 
RIR = er_CrR + er_NiR + er_CuR + er_AsR + er_CdR + er_PbR

In [92]:
er["RI_Winter"], er["RI_Rainy"] = RIW, RIR
er

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,RI_Winter,RI_Rainy
0,30.789778,26.777111,8.082353,4.512941,24.871111,14.343111,4.209231,3.673846,8.86,5.32,164.1450,78.6315,240.957473,133.258510
1,30.125333,25.537778,6.376471,4.049412,26.709333,14.776889,6.364615,4.560000,7.64,5.94,149.0170,60.2950,226.232753,115.159078
2,25.933556,19.332444,13.960000,8.828235,25.290667,17.589333,12.078462,7.144615,5.90,4.20,119.9080,50.8245,203.070684,107.919128
3,20.670000,16.050667,11.569412,6.136471,32.832000,24.807111,11.700000,8.663077,4.72,3.58,140.2440,67.2700,221.735412,126.507325
4,28.932222,18.633333,11.924706,7.204706,35.633778,26.023111,13.093846,9.673846,4.20,2.90,122.6050,83.0025,216.389552,147.437496
5,24.902222,17.434444,5.487059,2.757647,67.249778,34.944000,6.553846,4.809231,3.00,1.64,98.3320,58.7140,205.524905,120.299322
6,30.486444,20.040222,5.218824,3.517647,39.904000,34.389333,9.863077,9.175385,2.72,1.94,62.8525,51.8785,151.044845,120.941087
7,5.254889,4.535556,19.098824,9.590588,35.623111,26.264889,5.787692,5.243077,7.38,4.34,361.8785,152.0550,435.023016,202.029110
8,4.957333,3.680444,20.051765,9.277647,37.560889,31.004444,6.567692,4.975385,10.28,7.20,387.6705,264.1200,467.088179,320.257921
9,3.917333,3.215333,13.550588,11.061176,35.075556,28.721778,9.170769,8.723077,5.80,5.58,337.5900,168.3300,405.104246,225.631365
10,26.953333,21.513556,16.854118,11.750588,63.064889,50.275556,5.912308,4.560000,14.20,11.12,401.6050,240.8700,528.589648,340.089699
11,34.117778,25.081333,18.647059,13.148235,92.835556,52.586667,4.301538,3.683077,18.20,15.88,460.9700,275.7450,629.071931,386.124312
12,4.942889,2.995778,9.272941,6.995294,26.720000,20.078222,3.456923,3.078462,4.62,3.92,99.3550,55.7690,148.367753,92.836756
13,3.726667,2.727111,6.065882,5.162353,28.291556,19.096889,3.936923,3.184615,3.06,2.30,92.6900,48.7940,137.771028,81.264968
14,23.119778,14.840222,6.611765,3.948235,37.404444,25.560889,9.544615,7.250769,18.22,17.40,150.1485,118.6060,245.049102,187.606116
15,17.948667,11.772222,16.757647,10.856471,41.059556,30.421333,9.152308,6.424615,29.86,20.32,295.1200,152.6285,409.898177,232.423142
16,16.986667,12.948000,16.360000,11.912941,60.192000,32.472889,10.047692,7.310769,25.40,18.84,326.5075,147.9320,455.493859,231.416599

In [93]:
er.describe()

,CrW,CrR,NiW,NiR,CuW,CuR,AsW,AsR,CdW,CdR,PbW,PbR,RI_Winter,RI_Rainy
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,19.633229,14.536209,12.111142,7.688858,41.783425,28.432732,7.749502,6.007873,10.238824,7.789412,221.802265,122.086206,313.318386,186.541290
std,10.984832,8.442633,5.231517,3.368413,18.511461,10.772670,3.053887,2.197841,8.185143,6.355789,132.101566,77.691580,151.216106,91.849994
min,3.726667,2.727111,5.218824,2.757647,24.871111,14.343111,3.456923,3.078462,2.720000,1.640000,62.852500,48.794000,137.771028,81.264968
25%,5.254889,4.535556,6.611765,4.512941,28.291556,20.078222,5.787692,4.560000,4.620000,3.580000,119.908000,58.714000,205.524905,120.299322
50%,23.119778,16.050667,11.924706,7.204706,35.633778,26.264889,6.567692,5.243077,7.380000,5.320000,150.148500,83.002500,240.957473,147.437496
75%,28.932222,20.040222,16.757647,10.856471,41.059556,32.472889,9.863077,7.310769,14.200000,11.120000,337.590000,152.628500,435.023016,231.416599
max,34.117778,26.777111,20.051765,13.148235,92.835556,52.586667,13.093846,9.673846,29.860000,20.320000,460.970000,275.745000,629.071931,386.124312

In [94]:
er.to_csv("RI.csv", sep=",")
er.to_excel("RI.xlsx")