In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [42]:
df = pd.read_excel("wpburiganga.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sampling Point    16 non-null     object
 1   Temperature (◦C)  16 non-null     float64
 2   pH                16 non-null     float64
 3   EC (μS/cm)        16 non-null     float64
 4   TSS (mg/l)        16 non-null     float64
 5   Turbidity (NTU)   16 non-null     float64
 6   Salinity (mg/l)   16 non-null     float64
 7   TDS (mg/l)        16 non-null     float64
 8   DO (mg/l)         16 non-null     float64
 9   COD (mg/l)        16 non-null     float64
 10  NH4+  (mg/l)      16 non-null     float64
 11  NO3 (mg/l)        16 non-null     float64
 12  Phosphate(mg/l)   16 non-null     float64
 13  Sulfates(mg/l)    16 non-null     float64
 14  K (mg/l)          16 non-null     float64
 15  Ca (mg/l)         16 non-null     float64
 16  Mg (mg/l)         16 non-null     float64
 17  Cl- (mg/l)        16 non-null     float64
 18  Br (mg/l)         16 non-null     float64
 19  Cd (mg/l)         16 non-null     float64
 20  Cr (mg/l)         16 non-null     float64
 21  Ni (mg/l)         16 non-null     float64
 22  Cu (mg/l)         16 non-null     float64
 23  Zn (mg/l)         16 non-null     float64
 24  Mn(mg/l)          16 non-null     float64
 25  Hg(mg/l)          16 non-null     float64
 26  As(mg/l)          16 non-null     float64
 27  Pb(mg/l)          16 non-null     float64
 28  Unnamed: 28       9 non-null      object
dtypes: float64(27), object(2)
memory usage: 3.8+ KB

In [43]:
df

,Sampling Point,Temperature (◦C),pH,EC (μS/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),...,Cd (mg/l),Cr (mg/l),Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l),Unnamed: 28
0,1(Gabtoli_Dhalwes),25.000000,8.250000,1470.000000,190.000000,59.600000,685.000000,778.000000,1.820000,195.000000,...,0.007000,0.049000,0.102000,0.388000,0.286000,1.084000,0.014000,0.191000,0.376000,1(Gabtoli_Dhalwes)
1,2(Gabtoli_turag),24.700000,8.390000,1593.000000,156.000000,78.600000,706.000000,912.000000,1.370000,252.000000,...,0.008000,0.089000,0.128000,0.965000,0.623000,1.198000,0.036000,0.156000,0.395000,2(Gabtoli_turag)
2,3(Shah Cement),25.200000,8.110000,1656.000000,142.000000,85.300000,642.000000,986.000000,0.140000,493.000000,...,0.015000,0.095000,0.207000,1.420000,0.669000,1.178000,0.081000,0.095000,0.441000,3(Shah Cement)
3,4(Hazaribag),25.400000,5.800000,767.000000,357.000000,48.900000,262.000000,1995.000000,0.100000,683.000000,...,2.210000,1.423000,1.252000,0.926000,0.612000,3.791000,0.124000,0.102000,1.388000,4(Hazaribag)
4,5(Rayerbazar),23.800000,8.930000,788.000000,213.000000,28.800000,370.000000,1502.000000,2.120000,189.000000,...,0.003000,0.025000,0.058000,0.198000,0.307000,1.100000,0.002000,0.079000,0.316000,5(Rayerbazar)
5,6(Kholamora),25.100000,8.130000,1472.000000,320.000000,42.500000,712.000000,1986.000000,0.850000,320.000000,...,0.005000,0.031000,0.062000,0.850000,0.598000,0.998000,0.009000,0.061000,0.294000,6(Kholamora)
6,7(Zinzira),24.200000,8.620000,1860.000000,398.000000,39.900000,960.000000,2155.000000,1.720000,480.000000,...,0.092000,0.296000,0.721000,1.832000,0.753000,3.262000,0.092000,0.098000,0.567000,7(Zinzira)
7,8(Sadarghat_Terminal),25.900000,5.550000,1536.000000,465.000000,127.400000,208.000000,2407.000000,0.000000,816.000000,...,0.165000,1.102000,0.356000,0.652000,0.335000,2.979000,0.137000,0.107000,1.979000,8(Sadarghat_Terminal)
8,9(Postogola Bri),25.200000,8.100000,2502.000000,300.000000,75.500000,1380.000000,1750.000000,0.130000,582.000000,...,0.082000,0.511000,0.256000,0.095000,0.173000,1.245000,0.107000,0.062000,0.953000,9(Postogola Bri)
9,Average,24.944444,7.764444,1516.000000,282.333333,65.166667,658.333333,1607.888889,0.916667,445.555556,...,0.287444,0.402333,0.349111,0.814000,0.484000,1.870556,0.066889,0.105667,0.745444,NaN
10,MAX,25.900000,8.930000,2502.000000,465.000000,127.400000,1380.000000,2407.000000,2.120000,816.000000,...,2.210000,1.423000,1.252000,1.832000,0.753000,3.791000,0.137000,0.191000,1.979000,NaN
11,Min,23.800000,5.550000,767.000000,142.000000,28.800000,208.000000,778.000000,0.000000,189.000000,...,0.003000,0.025000,0.058000,0.095000,0.173000,0.998000,0.002000,0.061000,0.294000,NaN
12,SD,0.632675,1.216862,525.773002,113.488986,30.281760,364.168917,593.913176,0.855029,222.904190,...,0.723124,0.518671,0.396793,0.563952,0.207588,1.126384,0.052356,0.042743,0.586267,NaN
13,CV,2.536337,15.672233,34.681596,40.196807,46.468174,55.316797,36.937451,93.275917,50.028372,...,251.569994,128.915656,113.657967,69.281615,42.890069,60.216575,78.272524,40.451187,78.646614,NaN
14,Skewness,-0.584961,-1.404178,0.217061,0.243797,0.997630,0.752134,-0.277136,0.210986,0.363706,...,2.966078,1.378771,1.825381,0.533517,-0.262926,0.972664,-0.034193,1.143929,1.477674,NaN
15,Kurtosis,0.296941,0.507355,0.879829,-1.238882,1.066893,0.793158,-1.559130,-2.005949,-1.068058,...,8.845484,0.605024,3.038644,-0.190509,-1.746516,-1.116439,-1.879165,0.851724,1.338771,NaN

In [44]:
stat_df = df.loc[9:]
df = df.loc[:8]
df

,Sampling Point,Temperature (◦C),pH,EC (μS/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),...,Cd (mg/l),Cr (mg/l),Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l),Unnamed: 28
0,1(Gabtoli_Dhalwes),25.0,8.25,1470.0,190.0,59.6,685.0,778.0,1.82,195.0,...,0.007,0.049,0.102,0.388,0.286,1.084,0.014,0.191,0.376,1(Gabtoli_Dhalwes)
1,2(Gabtoli_turag),24.7,8.39,1593.0,156.0,78.6,706.0,912.0,1.37,252.0,...,0.008,0.089,0.128,0.965,0.623,1.198,0.036,0.156,0.395,2(Gabtoli_turag)
2,3(Shah Cement),25.2,8.11,1656.0,142.0,85.3,642.0,986.0,0.14,493.0,...,0.015,0.095,0.207,1.420,0.669,1.178,0.081,0.095,0.441,3(Shah Cement)
3,4(Hazaribag),25.4,5.80,767.0,357.0,48.9,262.0,1995.0,0.10,683.0,...,2.210,1.423,1.252,0.926,0.612,3.791,0.124,0.102,1.388,4(Hazaribag)
4,5(Rayerbazar),23.8,8.93,788.0,213.0,28.8,370.0,1502.0,2.12,189.0,...,0.003,0.025,0.058,0.198,0.307,1.100,0.002,0.079,0.316,5(Rayerbazar)
5,6(Kholamora),25.1,8.13,1472.0,320.0,42.5,712.0,1986.0,0.85,320.0,...,0.005,0.031,0.062,0.850,0.598,0.998,0.009,0.061,0.294,6(Kholamora)
6,7(Zinzira),24.2,8.62,1860.0,398.0,39.9,960.0,2155.0,1.72,480.0,...,0.092,0.296,0.721,1.832,0.753,3.262,0.092,0.098,0.567,7(Zinzira)
7,8(Sadarghat_Terminal),25.9,5.55,1536.0,465.0,127.4,208.0,2407.0,0.00,816.0,...,0.165,1.102,0.356,0.652,0.335,2.979,0.137,0.107,1.979,8(Sadarghat_Terminal)
8,9(Postogola Bri),25.2,8.10,2502.0,300.0,75.5,1380.0,1750.0,0.13,582.0,...,0.082,0.511,0.256,0.095,0.173,1.245,0.107,0.062,0.953,9(Postogola Bri)

In [45]:
sampling_point = df["Sampling Point"].str.split("(")
sampling_point

0       [1, Gabtoli_Dhalwes)]
1         [2, Gabtoli_turag)]
2           [3, Shah Cement)]
3             [4, Hazaribag)]
4            [5, Rayerbazar)]
5             [6, Kholamora)]
6               [7, Zinzira)]
7    [8, Sadarghat_Terminal)]
8         [9, Postogola Bri)]
Name: Sampling Point, dtype: object

In [46]:
i = 0
while i< len(sampling_point):
    sampling_point[i][1] = sampling_point[i][1][:-1]

    i+=1
    
sampling_point

0       [1, Gabtoli_Dhalwes]
1         [2, Gabtoli_turag]
2           [3, Shah Cement]
3             [4, Hazaribag]
4            [5, Rayerbazar]
5             [6, Kholamora]
6               [7, Zinzira]
7    [8, Sadarghat_Terminal]
8         [9, Postogola Bri]
Name: Sampling Point, dtype: object

In [47]:
sampling = pd.DataFrame(columns=[])

In [48]:
point = []
location = []

i = 0
while i < len(sampling_point):
    point.append(sampling_point[i][0])
    location.append(sampling_point[i][1])
    i+=1
    
point, location

(['1', '2', '3', '4', '5', '6', '7', '8', '9'],
 ['Gabtoli_Dhalwes',
  'Gabtoli_turag',
  'Shah Cement',
  'Hazaribag',
  'Rayerbazar',
  'Kholamora',
  'Zinzira',
  'Sadarghat_Terminal',
  'Postogola Bri'])

In [49]:
df["Point"], df["location"] = point, location
df

/tmp/ipykernel_22157/1221773281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Point"], df["location"] = point, location
/tmp/ipykernel_22157/1221773281.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Point"], df["location"] = point, location

,Sampling Point,Temperature (◦C),pH,EC (μS/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),...,Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l),Unnamed: 28,Point,location
0,1(Gabtoli_Dhalwes),25.0,8.25,1470.0,190.0,59.6,685.0,778.0,1.82,195.0,...,0.102,0.388,0.286,1.084,0.014,0.191,0.376,1(Gabtoli_Dhalwes),1,Gabtoli_Dhalwes
1,2(Gabtoli_turag),24.7,8.39,1593.0,156.0,78.6,706.0,912.0,1.37,252.0,...,0.128,0.965,0.623,1.198,0.036,0.156,0.395,2(Gabtoli_turag),2,Gabtoli_turag
2,3(Shah Cement),25.2,8.11,1656.0,142.0,85.3,642.0,986.0,0.14,493.0,...,0.207,1.420,0.669,1.178,0.081,0.095,0.441,3(Shah Cement),3,Shah Cement
3,4(Hazaribag),25.4,5.80,767.0,357.0,48.9,262.0,1995.0,0.10,683.0,...,1.252,0.926,0.612,3.791,0.124,0.102,1.388,4(Hazaribag),4,Hazaribag
4,5(Rayerbazar),23.8,8.93,788.0,213.0,28.8,370.0,1502.0,2.12,189.0,...,0.058,0.198,0.307,1.100,0.002,0.079,0.316,5(Rayerbazar),5,Rayerbazar
5,6(Kholamora),25.1,8.13,1472.0,320.0,42.5,712.0,1986.0,0.85,320.0,...,0.062,0.850,0.598,0.998,0.009,0.061,0.294,6(Kholamora),6,Kholamora
6,7(Zinzira),24.2,8.62,1860.0,398.0,39.9,960.0,2155.0,1.72,480.0,...,0.721,1.832,0.753,3.262,0.092,0.098,0.567,7(Zinzira),7,Zinzira
7,8(Sadarghat_Terminal),25.9,5.55,1536.0,465.0,127.4,208.0,2407.0,0.00,816.0,...,0.356,0.652,0.335,2.979,0.137,0.107,1.979,8(Sadarghat_Terminal),8,Sadarghat_Terminal
8,9(Postogola Bri),25.2,8.10,2502.0,300.0,75.5,1380.0,1750.0,0.13,582.0,...,0.256,0.095,0.173,1.245,0.107,0.062,0.953,9(Postogola Bri),9,Postogola Bri

In [50]:
df.drop(columns=["Sampling Point"], inplace=True)
df

/tmp/ipykernel_22157/2669219012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["Sampling Point"], inplace=True)

,Temperature (◦C),pH,EC (μS/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),NH4+ (mg/l),...,Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l),Unnamed: 28,Point,location
0,25.0,8.25,1470.0,190.0,59.6,685.0,778.0,1.82,195.0,2.6,...,0.102,0.388,0.286,1.084,0.014,0.191,0.376,1(Gabtoli_Dhalwes),1,Gabtoli_Dhalwes
1,24.7,8.39,1593.0,156.0,78.6,706.0,912.0,1.37,252.0,3.2,...,0.128,0.965,0.623,1.198,0.036,0.156,0.395,2(Gabtoli_turag),2,Gabtoli_turag
2,25.2,8.11,1656.0,142.0,85.3,642.0,986.0,0.14,493.0,8.0,...,0.207,1.420,0.669,1.178,0.081,0.095,0.441,3(Shah Cement),3,Shah Cement
3,25.4,5.80,767.0,357.0,48.9,262.0,1995.0,0.10,683.0,9.4,...,1.252,0.926,0.612,3.791,0.124,0.102,1.388,4(Hazaribag),4,Hazaribag
4,23.8,8.93,788.0,213.0,28.8,370.0,1502.0,2.12,189.0,2.1,...,0.058,0.198,0.307,1.100,0.002,0.079,0.316,5(Rayerbazar),5,Rayerbazar
5,25.1,8.13,1472.0,320.0,42.5,712.0,1986.0,0.85,320.0,5.6,...,0.062,0.850,0.598,0.998,0.009,0.061,0.294,6(Kholamora),6,Kholamora
6,24.2,8.62,1860.0,398.0,39.9,960.0,2155.0,1.72,480.0,4.6,...,0.721,1.832,0.753,3.262,0.092,0.098,0.567,7(Zinzira),7,Zinzira
7,25.9,5.55,1536.0,465.0,127.4,208.0,2407.0,0.00,816.0,11.2,...,0.356,0.652,0.335,2.979,0.137,0.107,1.979,8(Sadarghat_Terminal),8,Sadarghat_Terminal
8,25.2,8.10,2502.0,300.0,75.5,1380.0,1750.0,0.13,582.0,9.4,...,0.256,0.095,0.173,1.245,0.107,0.062,0.953,9(Postogola Bri),9,Postogola Bri

In [51]:
df.describe()

,Temperature (◦C),pH,EC (μS/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),NH4+ (mg/l),...,Br (mg/l),Cd (mg/l),Cr (mg/l),Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l)
count,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
mean,24.944444,7.764444,1516.000000,282.333333,65.166667,658.333333,1607.888889,0.916667,445.555556,6.233333,...,1.744444,0.287444,0.402333,0.349111,0.814000,0.484000,1.870556,0.066889,0.105667,0.745444
std,0.632675,1.216862,525.773002,113.488986,30.281760,364.168917,593.913176,0.855029,222.904190,3.361547,...,0.872011,0.723124,0.518671,0.396793,0.563952,0.207588,1.126384,0.052356,0.042743,0.586267
min,23.800000,5.550000,767.000000,142.000000,28.800000,208.000000,778.000000,0.000000,189.000000,2.100000,...,0.870000,0.003000,0.025000,0.058000,0.095000,0.173000,0.998000,0.002000,0.061000,0.294000
25%,24.700000,8.100000,1470.000000,190.000000,42.500000,370.000000,986.000000,0.130000,252.000000,3.200000,...,1.250000,0.007000,0.049000,0.102000,0.388000,0.307000,1.100000,0.014000,0.079000,0.376000
50%,25.100000,8.130000,1536.000000,300.000000,59.600000,685.000000,1750.000000,0.850000,480.000000,5.600000,...,1.310000,0.015000,0.095000,0.207000,0.850000,0.598000,1.198000,0.081000,0.098000,0.441000
75%,25.200000,8.390000,1656.000000,357.000000,78.600000,712.000000,1995.000000,1.720000,582.000000,9.400000,...,1.720000,0.092000,0.511000,0.356000,0.965000,0.623000,2.979000,0.107000,0.107000,0.953000
max,25.900000,8.930000,2502.000000,465.000000,127.400000,1380.000000,2407.000000,2.120000,816.000000,11.200000,...,3.290000,2.210000,1.423000,1.252000,1.832000,0.753000,3.791000,0.137000,0.191000,1.979000

In [52]:
stat_df

,Sampling Point,Temperature (◦C),pH,EC (μS/cm),TSS (mg/l),Turbidity (NTU),Salinity (mg/l),TDS (mg/l),DO (mg/l),COD (mg/l),...,Cd (mg/l),Cr (mg/l),Ni (mg/l),Cu (mg/l),Zn (mg/l),Mn(mg/l),Hg(mg/l),As(mg/l),Pb(mg/l),Unnamed: 28
9,Average,24.944444,7.764444,1516.000000,282.333333,65.166667,658.333333,1607.888889,0.916667,445.555556,...,0.287444,0.402333,0.349111,0.814000,0.484000,1.870556,0.066889,0.105667,0.745444,NaN
10,MAX,25.900000,8.930000,2502.000000,465.000000,127.400000,1380.000000,2407.000000,2.120000,816.000000,...,2.210000,1.423000,1.252000,1.832000,0.753000,3.791000,0.137000,0.191000,1.979000,NaN
11,Min,23.800000,5.550000,767.000000,142.000000,28.800000,208.000000,778.000000,0.000000,189.000000,...,0.003000,0.025000,0.058000,0.095000,0.173000,0.998000,0.002000,0.061000,0.294000,NaN
12,SD,0.632675,1.216862,525.773002,113.488986,30.281760,364.168917,593.913176,0.855029,222.904190,...,0.723124,0.518671,0.396793,0.563952,0.207588,1.126384,0.052356,0.042743,0.586267,NaN
13,CV,2.536337,15.672233,34.681596,40.196807,46.468174,55.316797,36.937451,93.275917,50.028372,...,251.569994,128.915656,113.657967,69.281615,42.890069,60.216575,78.272524,40.451187,78.646614,NaN
14,Skewness,-0.584961,-1.404178,0.217061,0.243797,0.997630,0.752134,-0.277136,0.210986,0.363706,...,2.966078,1.378771,1.825381,0.533517,-0.262926,0.972664,-0.034193,1.143929,1.477674,NaN
15,Kurtosis,0.296941,0.507355,0.879829,-1.238882,1.066893,0.793158,-1.559130,-2.005949,-1.068058,...,8.845484,0.605024,3.038644,-0.190509,-1.746516,-1.116439,-1.879165,0.851724,1.338771,NaN

In [53]:
df.to_excel("data.xlsx")