In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
winter = pd.read_csv("data/Buriganga_W .csv")
summer = pd.read_csv("data/Buriganga_S.csv")

In [5]:
winter

,SamplingPoint,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,...,Br,Cd,Cr,Ni,Cu,Zn,Mn,Hg,As,Pb
0,Gabtoli Dhalwes,25.0,8.25,1470,190,59.6,685,778,1.82,195,...,3.15,0.007,0.049,0.102,0.388,0.286,1.084,0.014,0.191,0.376
1,Gabtoli Turag,24.7,8.39,1593,156,78.6,706,912,1.37,252,...,3.29,0.008,0.089,0.128,0.965,0.623,1.198,0.036,0.156,0.395
2,Shah Cement,25.2,8.11,1656,142,85.3,642,986,0.14,493,...,1.62,0.015,0.095,0.207,1.420,0.669,1.178,0.081,0.095,0.441
3,Hazaribag,25.4,5.80,767,357,48.9,262,1995,0.10,683,...,1.72,2.210,1.423,1.252,0.926,0.612,3.791,0.124,0.102,1.388
4,Rayerbazar,23.8,8.93,788,213,28.8,370,1502,2.12,189,...,1.25,0.003,0.025,0.058,0.198,0.307,1.100,0.002,0.079,0.316
5,Kholamora,25.1,8.13,1472,320,42.5,712,1986,0.85,320,...,1.19,0.005,0.031,0.062,0.850,0.598,0.998,0.009,0.061,0.294
6,Zinzira,24.2,8.62,1860,398,39.9,960,2155,1.72,480,...,0.87,0.092,0.296,0.721,1.832,0.753,3.262,0.092,0.098,0.567
7,Sadarghat Terminal,25.9,5.55,1536,465,127.4,208,2407,0.00,816,...,1.30,0.165,1.102,0.356,0.652,0.335,2.979,0.137,0.107,1.979
8,Postogola Bri,25.2,8.10,2502,300,75.5,1380,1750,0.13,582,...,1.31,0.082,0.511,0.256,0.095,0.173,1.245,0.107,0.062,0.953

In [6]:
winter.columns

Index(['SamplingPoint', 'Temperature', 'pH', 'EC', 'TSS', 'Turbidity',
       'Salinity', 'TDS', 'DO', 'COD', 'NH4+', 'NO3', 'Phosphate', 'Sulfates',
       'K', 'Ca', 'Mg', 'Cl', 'Br', 'Cd', 'Cr', 'Ni', 'Cu', 'Zn', 'Mn', 'Hg',
       'As', 'Pb'],
      dtype='object')

In [8]:
cols = ['Temperature', 'pH', 'EC', 'TSS', 'Turbidity',
       'Salinity', 'TDS', 'DO', 'COD', 'NH4+', 'NO3', 'Phosphate', 'Sulfates',
       'K', 'Ca', 'Mg', 'Cl']

In [9]:
summer = summer[cols]
winter = winter[cols]

In [10]:
summer

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4+,NO3,Phosphate,Sulfates,K,Ca,Mg,Cl
0,30.4,6.17,1790,309,108,639,852,0.96,700,2.9,33.0,2.15,92.5,59.2,102.5,75.4,98.14
1,30.7,5.89,1453,322,126,702,1208,0.73,718,2.8,32.3,2.78,74.2,46.8,72.3,39.6,110.27
2,32.7,5.02,2047,434,174,730,783,0.15,870,7.6,37.2,3.11,107.8,32.5,98.6,38.9,113.55
3,32.8,4.37,538,461,162,360,1790,0.12,912,8.2,41.9,2.23,94.8,18.9,54.3,28.8,38.83
4,29.5,6.59,692,178,82,244,825,1.10,655,3.0,19.8,1.51,89.2,23.8,30.9,16.5,41.79
5,32.2,5.33,1596,296,76,930,2009,0.51,725,5.9,38.2,2.12,54.2,29.4,72.5,30.4,78.56
6,30.1,6.78,1963,302,108,1070,2036,1.39,530,2.2,18.4,2.29,70.8,40.1,130.2,95.1,43.95
7,32.9,4.11,2119,464,175,1156,2377,0.00,1180,10.4,44.5,3.24,77.7,31.2,69.8,21.8,146.20
8,32.4,5.24,2550,387,162,1332,1895,0.27,879,9.3,19.7,4.57,102.1,29.0,65.5,30.7,167.48

In [11]:
winter

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4+,NO3,Phosphate,Sulfates,K,Ca,Mg,Cl
0,25.0,8.25,1470,190,59.6,685,778,1.82,195,2.6,13.1,3.5,8.77,39.2,95.6,52.6,110.8
1,24.7,8.39,1593,156,78.6,706,912,1.37,252,3.2,12.4,5.7,11.40,36.8,86.4,37.4,277.3
2,25.2,8.11,1656,142,85.3,642,986,0.14,493,8.0,17.3,6.0,12.40,42.2,108.2,68.9,289.9
3,25.4,5.80,767,357,48.9,262,1995,0.10,683,9.4,24.6,3.5,9.25,18.5,56.3,29.8,15.8
4,23.8,8.93,788,213,28.8,370,1502,2.12,189,2.1,9.8,3.9,9.20,19.4,32.9,11.9,32.1
5,25.1,8.13,1472,320,42.5,712,1986,0.85,320,5.6,18.2,5.0,9.86,33.1,83.1,38.5,116.7
6,24.2,8.62,1860,398,39.9,960,2155,1.72,480,4.6,12.4,6.5,18.70,48.7,132.6,83.6,334.1
7,25.9,5.55,1536,465,127.4,208,2407,0.00,816,11.2,24.5,5.3,10.80,28.2,75.5,42.7,236.0
8,25.2,8.10,2502,300,75.5,1380,1750,0.13,582,9.4,25.8,6.8,17.10,21.3,70.2,36.1,245.9

In [17]:
label = []

for j in range(9):
    label.append("Winter")

for j in range(9):
    label.append("Summer")

In [19]:
len(label)

18

In [20]:
df = pd.concat([winter, summer])

In [21]:
df["Season"] = label

In [22]:
df

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4+,NO3,Phosphate,Sulfates,K,Ca,Mg,Cl,Season
0,25.0,8.25,1470,190,59.6,685,778,1.82,195,2.6,13.1,3.50,8.77,39.2,95.6,52.6,110.80,Winter
1,24.7,8.39,1593,156,78.6,706,912,1.37,252,3.2,12.4,5.70,11.40,36.8,86.4,37.4,277.30,Winter
2,25.2,8.11,1656,142,85.3,642,986,0.14,493,8.0,17.3,6.00,12.40,42.2,108.2,68.9,289.90,Winter
3,25.4,5.80,767,357,48.9,262,1995,0.10,683,9.4,24.6,3.50,9.25,18.5,56.3,29.8,15.80,Winter
4,23.8,8.93,788,213,28.8,370,1502,2.12,189,2.1,9.8,3.90,9.20,19.4,32.9,11.9,32.10,Winter
5,25.1,8.13,1472,320,42.5,712,1986,0.85,320,5.6,18.2,5.00,9.86,33.1,83.1,38.5,116.70,Winter
6,24.2,8.62,1860,398,39.9,960,2155,1.72,480,4.6,12.4,6.50,18.70,48.7,132.6,83.6,334.10,Winter
7,25.9,5.55,1536,465,127.4,208,2407,0.00,816,11.2,24.5,5.30,10.80,28.2,75.5,42.7,236.00,Winter
8,25.2,8.10,2502,300,75.5,1380,1750,0.13,582,9.4,25.8,6.80,17.10,21.3,70.2,36.1,245.90,Winter
0,30.4,6.17,1790,309,108.0,639,852,0.96,700,2.9,33.0,2.15,92.50,59.2,102.5,75.4,98.14,Summer
1,30.7,5.89,1453,322,126.0,702,1208,0.73,718,2.8,32.3,2.78,74.20,46.8,72.3,39.6,110.27,Summer
2,32.7,5.02,2047,434,174.0,730,783,0.15,870,7.6,37.2,3.11,107.80,32.5,98.6,38.9,113.55,Summer
3,32.8,4.37,538,461,162.0,360,1790,0.12,912,8.2,41.9,2.23,94.80,18.9,54.3,28.8,38.83,Summer
4,29.5,6.59,692,178,82.0,244,825,1.10,655,3.0,19.8,1.51,89.20,23.8,30.9,16.5,41.79,Summer
5,32.2,5.33,1596,296,76.0,930,2009,0.51,725,5.9,38.2,2.12,54.20,29.4,72.5,30.4,78.56,Summer
6,30.1,6.78,1963,302,108.0,1070,2036,1.39,530,2.2,18.4,2.29,70.80,40.1,130.2,95.1,43.95,Summer
7,32.9,4.11,2119,464,175.0,1156,2377,0.00,1180,10.4,44.5,3.24,77.70,31.2,69.8,21.8,146.20,Summer
8,32.4,5.24,2550,387,162.0,1332,1895,0.27,879,9.3,19.7,4.57,102.10,29.0,65.5,30.7,167.48,Summer

In [23]:
winter.tail()

,Temperature,pH,EC,TSS,Turbidity,Salinity,TDS,DO,COD,NH4+,NO3,Phosphate,Sulfates,K,Ca,Mg,Cl
4,23.8,8.93,788,213,28.8,370,1502,2.12,189,2.1,9.8,3.9,9.20,19.4,32.9,11.9,32.1
5,25.1,8.13,1472,320,42.5,712,1986,0.85,320,5.6,18.2,5.0,9.86,33.1,83.1,38.5,116.7
6,24.2,8.62,1860,398,39.9,960,2155,1.72,480,4.6,12.4,6.5,18.70,48.7,132.6,83.6,334.1
7,25.9,5.55,1536,465,127.4,208,2407,0.00,816,11.2,24.5,5.3,10.80,28.2,75.5,42.7,236.0
8,25.2,8.10,2502,300,75.5,1380,1750,0.13,582,9.4,25.8,6.8,17.10,21.3,70.2,36.1,245.9

In [25]:
winter.columns

Index(['Temperature', 'pH', 'EC', 'TSS', 'Turbidity', 'Salinity', 'TDS', 'DO',
       'COD', 'NH4+', 'NO3', 'Phosphate', 'Sulfates', 'K', 'Ca', 'Mg', 'Cl'],
      dtype='object')

In [ ]:
['Temperature', 'pH', 'EC', 'TSS', 'Turbidity', 'Salinity', 'TDS', 'DO',
       'COD', 'Ammonium', 'Nitrate', 'Phosphate', 'Sulfates', 'K', 'Ca', 'Mg', 'Cl']

In [24]:
df.to_csv("data/Temp_Cl_Both_Season.csv")